## **Importing Libraries**

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import tensorflow as tf
import glob 
import keras
import seaborn as sns
import pickle
import sklearn

In [ ]:
pip install catboost

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting catboost
  Downloading catboost-1.1-cp37-none-manylinux1_x86_64.whl (76.8 MB)
     |████████████████████████████████| 76.8 MB 1.3 MB/s
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from catboost) (1.15.0)
Requirement already satisfied: graphviz in /usr/local/lib/python3.7/dist-packages (from catboost) (0.10.1)
Requirement already satisfied: numpy>=1.16.0 in /usr/local/lib/python3.7/dist-packages (from catboost) (1.21.6)
Requirement already satisfied: plotly in /usr/local/lib/python3.7/dist-packages (from catboost) (5.5.0)
Requirement already satisfied: matplotlib in /usr/local/lib/python3.7/dist-packages (from catboost) (3.2.2)
Requirement already satisfied: scipy in /usr/local/lib/python3.7/dist-packages (from catboost) (1.7.3)
Requirement already satisfied: pandas>=0.24.0 in /usr/local/lib/python3.7/dist-packages (from catboost) (1.3.5)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24.0->catboost) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24.0->catboost) (2022.4)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib->catboost) (1.4.4)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib->catboost) (3.0.9)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.7/dist-packages (from matplotlib->catboost) (0.11.0)
Requirement already satisfied: typing-extensions in /usr/local/lib/python3.7/dist-packages (from kiwisolver>=1.0.1->matplotlib->catboost) (4.1.1)
Requirement already satisfied: tenacity>=6.2.0 in /usr/local/lib/python3.7/dist-packages (from plotly->catboost) (8.1.0)
Installing collected packages: catboost
Successfully installed catboost-1.1

In [ ]:
from sklearn.model_selection import KFold
from sklearn.metrics import classification_report, confusion_matrix, accuracy_score
from sklearn.model_selection import cross_val_score
k_fold = KFold(n_splits=10, shuffle=True, random_state=0)
from sklearn.model_selection import RandomizedSearchCV
# Importing Classifier Modules
from sklearn.neighbors import KNeighborsClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.svm import SVC
from xgboost import XGBClassifier
from lightgbm import LGBMClassifier
from catboost import CatBoostClassifier

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

## **Data Preprocessing**

In [ ]:
raw_csv_data=pd.read_csv("/content/drive/MyDrive/datasetW4/Final_Dataset_withoutStatus.csv")
df=raw_csv_data.copy()
pd.options.display.max_columns= None
pd.options.display.max_rows= 10
df

,consignment_id,consignment_note,Account_name,account_type,AssignedTo,PriorityLevel,ConCreated,InActive,SenderCity,ReceiverCity,SenderSuburb,ReceiverSuburb,ServiceType,Carrier_name,leg_type,from_leg,to_leg,depotname,LeggingCost
0,13086FE7-12A1-4467-964C-0000047EE392,IFL3022016,BELGOTEX NZ LTD,Customer,NaN,NaN,2022-05-14,False,Auckland,Te Awamutu,MANGERE,NaN,BOP - Waikato,STL LINEHAUL,PU/LH/DL,AUCKLAND,TE AWAMUTU,STL AUCKLAND DEPOT,0.00
1,0AA9C307-3746-4302-A0B6-0004F0ACD64A,ECC0040335,AUSLINK LOGISTICS LIMITED,Customer,NaN,NaN,2022-01-19,False,Christchurch,Christchurch,Wigram,Avondale,Metro General,LK TRANSPORT Store Rite Logistics,PU/DL,Christchurch,Christchurch,NaN,13.40
2,E6A42B8A-B673-4B7B-8DFF-0005F5264B82,IFL3022422,BELGOTEX NZ LTD,Customer,NaN,NaN,2022-03-08,False,Auckland,Wellington,Wiri,Pipitea,SuperEconomy,STL LINEHAUL,PU/LH/DL,AUCKLAND,WELLINGTON,STL Wellington,47.16
3,45559152-2187-4C29-9EF5-0008C207BABF,ECC0039329,DHL EXPRESS - CHCH,Customer,NaN,NaN,2021-11-22,False,Christchurch,Lake Hayes,Avonhead,Lake Hayes Estate,Economy,bOOTH'S TRANSPORT (SI) LTD,PU/LH/DL,Christchurch,Queenstown,NaN,30.00
4,9A405A44-F95C-40D9-8351-000B34C4AD93,IFL3021888,BELGOTEX NZ LTD,Customer,NaN,NaN,2022-05-14,False,Auckland,Wellington,MANGERE,Hutt Central,SuperEconomy,STL LINEHAUL,PU/LH/DL,AUCKLAND,WELLINGTON,STL AUCKLAND DEPOT,47.16
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23643,19E47EEC-EEE7-452E-8A8A-FFF58C7BD36B,IFL9024928,BELGOTEX NZ LTD,Customer,NaN,NaN,2022-06-06,False,Auckland,AUCKLAND,MANGERE south,PUKEKOHE,SuperEconomy,CARGO PLUS LTD,PU/LH/DL,AUCKLAND,PUKEKOHE,NaN,34.77
23644,E83DCC0F-E207-42E2-9A34-FFFA6BF0399F,ECC0041208,TAI PING TRADING COMPANY LTD,Customer,NaN,NaN,2022-01-25,False,Auckland,Timaru,Penrose,NaN,SuperEconomy,STL LINEHAUL,PU/LH,Auckland,Christchurch,STL AUCKLAND DEPOT,51.91
23645,E83DCC0F-E207-42E2-9A34-FFFA6BF0399F,ECC0041208,TAI PING TRADING COMPANY LTD,Customer,NaN,NaN,2022-01-25,False,Auckland,Timaru,Penrose,NaN,SuperEconomy,bOOTH'S TRANSPORT (SI) LTD,LH/DL,Christchurch,Timaru,NaN,32.39
23646,8F8F2508-9E79-4875-9215-FFFB36CEC073,ECC0046767,PYROTEK PRODUCTS LTD,Customer,HAYLEYW,overdue,2022-09-13,False,Auckland,Whangarei,East Tamaki,Port Whangarei,Economy,FREIGHTPLUS LTD,PU/LH/DL,AUCKLAND,WHANGAREI,NaN,35.35
23647,825CCDEC-C8A3-4791-B394-FFFBC2D47CA2,IFL9025199,BELGOTEX NZ LTD,Customer,NaN,NaN,2022-06-28,False,Auckland,Auckland,MANGERE south,Kumeu,Metro General,CARGO PLUS LTD,PU/LH/DL,AUCKLAND,KUMEU,NaN,34.77

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23648 entries, 0 to 23647
Data columns (total 19 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   consignment_id    23648 non-null  object
 1   consignment_note  23648 non-null  object
 2   Account_name      23648 non-null  object
 3   account_type      23648 non-null  object
 4   AssignedTo        637 non-null    object
 5   PriorityLevel     626 non-null    object
 6   ConCreated        23648 non-null  object
 7   InActive          23648 non-null  bool
 8   SenderCity        23644 non-null  object
 9   ReceiverCity      23634 non-null  object
 10  SenderSuburb      22001 non-null  object
 11  ReceiverSuburb    17034 non-null  object
 12  ServiceType       23648 non-null  object
 13  Carrier_name      23648 non-null  object
 14  leg_type          23648 non-null  object
 15  from_leg          23648 non-null  object
 16  to_leg            23648 non-null  object
 17  depotname         9799 non-null   object
 18  LeggingCost       23646 non-null  float64
dtypes: bool(1), float64(1), object(17)
memory usage: 3.3+ MB

In [ ]:
pd.set_option('display.max_rows', None)
df['Carrier_name'].value_counts()

STL LINEHAUL                          9082
CARGO PLUS LTD                        3951
bOOTH'S TRANSPORT (SI) LTD            2253
BASCIK TRANSPORT                      2165
FREIGHTPLUS LTD                       1751
MAINSTREAM NZ LTD                     1692
T&G TRANSPORT                          842
LK TRANSPORT Store Rite Logistics      666
HALLS REFRIGERATION                    185
TRANSFREIGHT                           164
LINFOX                                 138
ANGEL TRANSPORT                        117
PASS THE PARCEL                         74
COMBINED FREIGHTLINES                   63
URGENT COURIERS LTD                     57
QANTAS COURIERS                         46
METRO URGENT                            41
MACKENZIE TRANSPORT LTD                 40
JETS TRANSPORT LTD                      38
SUB60                                   26
SEALINK LOGISTICS                       23
SOLLYS                                  22
ADEPT LOGISTICS LTD                     22
TRANSCON                                21
BOOTHS TRANSPORT LTD                    17
ELLESMERE TRANSPORT CO. LTD             13
FREWS TPT LTD                           12
MAN WITH A VAN                          11
PUKEKOHE CARRIERS                       10
HILTON HAULAGE LTD PARTNERSHIP           8
CV COMPTON LTD                           8
Combined Logistics Ltd                   8
Timatanga Enterprises Ltd                8
RAGLAN CARRIERS                          8
MACKENZIE TRANSPORT                      7
VANMAN                                   6
LT Transport Limited                     6
CROFT COMBINED CARRIERS LTD              5
TOMOANA WAREHOUSING LTD                  3
EXPRESS MOVERS                           3
GREAT BARRIER CARTAGE LTD                2
GRACE REMOVALS                           2
MCAULEY'S TRANSPORT                      2
Lift N Shift Ltd                         2
LES HARRISON TRANSPORT LTd               2
MAN WITH A VAN SERVICE                   2
FR8BASE                                  2
MOVE LOGISTICS LTD                       2
Ian Roebuck Crane Hire Limited           2
WILLS CONTRACTING                        1
On Time Eddy                             1
WOOFE CONTRACTING LTd                    1
MARLBOROUGH MOVING & STORAGE CO          1
The Delivery Guys NZ                     1
N J Woods Ltd                            1
TIL Freighting Ltd                       1
TAPPERS LTD                              1
OFFICE MAX - INWARDS GOOD                1
AUCKLAND CRANES LTd                      1
Primelift HiAb Hire Ltd                  1
Todd McPhee Crane Hire & Transport       1
HIAB CRANE SERVICES LTD                  1
CRAWFORD CARRYING CO LTD                 1
RURAL TRANSPORT LTD                      1
CONROYS REMOVALS LTD                     1
GISBORNE HIABS LTD                       1
Smith Transport                          1
Name: Carrier_name, dtype: int64

In [ ]:
df['Account_name'].value_counts()

In [ ]:
df['SenderCity'].value_counts()

In [ ]:
df['ServiceType'].value_counts()

In [ ]:
df.describe()

        LeggingCost
count  23646.000000
mean     126.041854
std      327.905371
min        0.000000
25%       20.380000
50%       48.570000
75%      102.455000
max    18200.000000

In [ ]:
Ldata = df.copy()

In [ ]:
Ldata=pd.concat([Ldata['Account_name'], Ldata['SenderCity'], Ldata['ReceiverCity'], Ldata['ServiceType'], Ldata['from_leg'], Ldata['to_leg'], Ldata['leg_type'], Ldata['LeggingCost'], Ldata['Carrier_name'] ], axis=1)
Ldata.head(10)

,Account_name,SenderCity,ReceiverCity,ServiceType,from_leg,to_leg,leg_type,LeggingCost,Carrier_name
0,BELGOTEX NZ LTD,Auckland,Te Awamutu,BOP - Waikato,AUCKLAND,TE AWAMUTU,PU/LH/DL,0.00,STL LINEHAUL
1,AUSLINK LOGISTICS LIMITED,Christchurch,Christchurch,Metro General,Christchurch,Christchurch,PU/DL,13.40,LK TRANSPORT Store Rite Logistics
2,BELGOTEX NZ LTD,Auckland,Wellington,SuperEconomy,AUCKLAND,WELLINGTON,PU/LH/DL,47.16,STL LINEHAUL
3,DHL EXPRESS - CHCH,Christchurch,Lake Hayes,Economy,Christchurch,Queenstown,PU/LH/DL,30.00,bOOTH'S TRANSPORT (SI) LTD
4,BELGOTEX NZ LTD,Auckland,Wellington,SuperEconomy,AUCKLAND,WELLINGTON,PU/LH/DL,47.16,STL LINEHAUL
5,FORCE4 LIMITED,Wellington,SILVERDALE,Metro General,WELLINGTON,AUCKLAND,PU/DL,0.00,GREAT BARRIER CARTAGE LTD
6,BELGOTEX NZ LTD,Auckland,New Plymouth,SuperEconomy,AUCKLAND,NEW PLYMOUTH,PU/LH/DL,48.57,STL LINEHAUL
7,BELGOTEX NZ LTD,Auckland,Auckland,Metro General,AUCKLAND,GREENLANE,PU/LH/DL,19.56,CARGO PLUS LTD
8,BELGOTEX NZ LTD,Auckland,AUCKLAND,Metro General,AUCKLAND,AUCKLAND,PU/LH/DL,18.90,CARGO PLUS LTD
9,BELGOTEX NZ LTD,Auckland,New Plymouth,SuperEconomy,AUCKLAND,NEW PLYMOUTH,PU/LH/DL,48.57,STL LINEHAUL

In [ ]:
Ldata.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23648 entries, 0 to 23647
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Account_name  23648 non-null  object
 1   SenderCity    23644 non-null  object
 2   ReceiverCity  23634 non-null  object
 3   ServiceType   23648 non-null  object
 4   from_leg      23648 non-null  object
 5   to_leg        23648 non-null  object
 6   leg_type      23648 non-null  object
 7   LeggingCost   23646 non-null  float64
 8   Carrier_name  23648 non-null  object
dtypes: float64(1), object(8)
memory usage: 1.6+ MB

In [ ]:
Ldata['ReceiverCity'].isnull().sum()

14

In [ ]:
Ldata.drop(Ldata.loc[Ldata['LeggingCost'].isnull()].index, inplace = True)
Ldata.drop(Ldata.loc[Ldata['SenderCity'].isnull()].index, inplace = True)
Ldata.drop(Ldata.loc[Ldata['ReceiverCity'].isnull()].index, inplace = True)

In [ ]:
Ldata.drop(Ldata.loc[Ldata['LeggingCost'] ==0.0].index, inplace = True)

In [ ]:
Ldata.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 19899 entries, 1 to 23647
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Account_name  19899 non-null  object
 1   SenderCity    19899 non-null  object
 2   ReceiverCity  19899 non-null  object
 3   ServiceType   19899 non-null  object
 4   from_leg      19899 non-null  object
 5   to_leg        19899 non-null  object
 6   leg_type      19899 non-null  object
 7   LeggingCost   19899 non-null  float64
 8   Carrier_name  19899 non-null  object
dtypes: float64(1), object(8)
memory usage: 1.5+ MB

###**Mapping categorical to numerical**

In [ ]:
Ldata['SenderCity'] = Ldata['SenderCity'].str.lower()
Ldata['ReceiverCity'] = Ldata['ReceiverCity'].str.lower()
Ldata['Carrier_name'] = Ldata['Carrier_name'].str.lower()
Ldata['Account_name'] = Ldata['Account_name'].str.lower()
Ldata['ServiceType'] = Ldata['ServiceType'].str.lower()
Ldata['from_leg'] = Ldata['from_leg'].str.lower()
Ldata['to_leg'] = Ldata['to_leg'].str.lower()
Ldata['leg_type'] = Ldata['leg_type'].str.lower()
Ldata.head(10)

,Account_name,SenderCity,ReceiverCity,ServiceType,from_leg,to_leg,leg_type,LeggingCost,Carrier_name
1,auslink logistics limited,christchurch,christchurch,metro general,christchurch,christchurch,pu/dl,13.40,lk transport store rite logistics
2,belgotex nz ltd,auckland,wellington,supereconomy,auckland,wellington,pu/lh/dl,47.16,stl linehaul
3,dhl express - chch,christchurch,lake hayes,economy,christchurch,queenstown,pu/lh/dl,30.00,booth's transport (si) ltd
4,belgotex nz ltd,auckland,wellington,supereconomy,auckland,wellington,pu/lh/dl,47.16,stl linehaul
6,belgotex nz ltd,auckland,new plymouth,supereconomy,auckland,new plymouth,pu/lh/dl,48.57,stl linehaul
7,belgotex nz ltd,auckland,auckland,metro general,auckland,greenlane,pu/lh/dl,19.56,cargo plus ltd
8,belgotex nz ltd,auckland,auckland,metro general,auckland,auckland,pu/lh/dl,18.90,cargo plus ltd
9,belgotex nz ltd,auckland,new plymouth,supereconomy,auckland,new plymouth,pu/lh/dl,48.57,stl linehaul
10,pyrotek products ltd,auckland,whangarei,economy,auckland,whangarei,pu/lh/dl,131.26,mainstream nz ltd
11,belgotex nz ltd,tauranga,rotorua,bop - waikato,auckland,rotorua,pu/lh/dl,20.60,stl linehaul

####**CITY**

In [ ]:
import csv

file = open("/content/drive/MyDrive/datasetW4/Cities.csv", "r")
data = list(csv.reader(file, delimiter=","))
file.close()

In [ ]:
citylist= list()
for i in data:
  for j in i:
    #print(j)
    citylist.append(str(j).lower())

In [ ]:
c=1
cityDict = {}
cityDict = {citylist[i]: int(i+1) for i in range(len(citylist))}
cityDict

{'hastings': 1,
 'cable bay': 2,
 'baylys beach': 3,
 'aniseed valley': 4,
 'otanomomo': 5,
 'tirau': 6,
 'eltham': 7,
 'te teko': 8,
 'lake hayes': 9,
 'mangatawhiri': 10,
 'matapouri': 11,
 'tekapo': 12,
 'balcairn': 13,
 'ōpōtiki': 14,
 'oamaru': 15,
 'opotiki': 16,
 'paihia': 17,
 'bunnythorpe': 18,
 'franz josef': 19,
 'pleasant valley': 20,
 'kaingaroa forest': 21,
 'levels': 22,
 'brooklyn': 23,
 'teviotdale': 24,
 'silverdale': 25,
 'kawakawa': 26,
 'ashhurst': 27,
 'eskdale': 28,
 'haumoana': 29,
 'southbridge': 30,
 'hikurangi': 31,
 'waihi': 32,
 'albert town': 33,
 'bannockburn': 34,
 'wellsford': 35,
 'murupara': 36,
 'reefton': 37,
 'morven': 38,
 'pokeno': 39,
 'pōkeno': 40,
 'waimauku': 41,
 'aokautere': 42,
 'whanagrei heads': 43,
 'montalto': 44,
 'pipiwai': 45,
 'fairview': 46,
 'west eyreton': 47,
 'little wanganui': 48,
 'auckland': 49,
 'whangarei': 50,
 'whangārei': 51,
 'waipukurau': 52,
 'branxholme': 53,
 'orari': 54,
 'pohuehue': 55,
 'hapuku': 56,
 'edendale': 57,
 'dannevirke': 58,
 'waikuku beach': 59,
 'roxburgh': 60,
 'paengaroa': 61,
 'pirongia': 62,
 'manapouri': 63,
 'twizel': 64,
 'takaka': 65,
 'tākaka': 66,
 'kingston': 67,
 'tahawai': 68,
 'portland': 69,
 'momona': 70,
 'richmond downs': 71,
 'te kauwhata': 72,
 'rai valley': 73,
 'rangiuru': 74,
 'makorori': 75,
 'havelock': 76,
 'matamata': 77,
 'hope': 78,
 'warkworth': 79,
 'queenstown': 80,
 'rakaia': 81,
 'kaikoe': 82,
 'christcurch': 83,
 'mount pleasant': 84,
 'omanawa': 85,
 'dunedin': 86,
 'eyrewell forest': 87,
 'te puke': 88,
 'tuki tuki': 89,
 'aongatete': 90,
 'kaimiro': 91,
 'speargrass flat': 92,
 'clareville': 93,
 'whangerei': 94,
 'tikorangi': 95,
 'cust': 96,
 'rukuhia': 97,
 'franz josef / waiau': 98,
 'mokai': 99,
 'manukau': 100,
 'kirwee': 101,
 'dorie': 102,
 'tuamarina': 103,
 'ivercargill': 104,
 'washdyke': 105,
 'northland': 106,
 'fairlie': 107,
 'methven': 108,
 'tamaterau': 109,
 'mount creighton': 110,
 'ashburton': 111,
 'temuka': 112,
 'blenheim': 113,
 'riverton': 114,
 'levin': 115,
 'tatuanui': 116,
 'milton': 117,
 'paekakariki': 118,
 'ohakune': 119,
 'moerewa': 120,
 'te puna': 121,
 'raglan': 122,
 'hahei': 123,
 'whatawhata': 124,
 'fernhill': 125,
 'fairhall': 126,
 'new plymouth airport': 127,
 'the peaks': 128,
 'mahurangi east': 129,
 'moana': 130,
 'beaumont': 131,
 'west plains': 132,
 'weston': 133,
 'solway': 134,
 'lauriston': 135,
 'whitianga': 136,
 'tasman': 137,
 'haupiri': 138,
 'kaeo': 139,
 'te miro': 140,
 'oreti beach': 141,
 'gonville': 142,
 'tūrangi': 143,
 'turangi': 144,
 'whenuapai': 145,
 'waihopai valley': 146,
 'mangonui': 147,
 'mangōnui': 148,
 'moka': 149,
 'tussock creek': 150,
 'clive': 151,
 'whakatu': 152,
 'feilding': 153,
 'pleasant point': 154,
 'geraldine': 155,
 'parua bay': 156,
 'gibbston': 157,
 'beachlands': 158,
 'collingwood': 159,
 'stratford': 160,
 'clinton': 161,
 'kakahu': 162,
 'hokonui': 163,
 'whakatane': 164,
 'te aroha': 165,
 'whakatāne': 166,
 'rolleston': 167,
 'kopu': 168,
 'kerepehi': 169,
 'tairua': 170,
 'fox glacier': 171,
 'duvauchelle': 172,
 'whangaruru': 173,
 'jacks point': 174,
 'ohoka': 175,
 'mount messenger': 176,
 'fraser dam': 177,
 'ardmore': 178,
 'ruby bay': 179,
 'luggate': 180,
 'redwood valley': 181,
 'mt maugnanui': 182,
 'charteris bay': 183,
 'kerikeri': 184,
 'muriwai': 185,
 'whanganui': 186,
 'rotorua': 187,
 'greytown': 188,
 'burnt hill': 189,
 'te anau': 190,
 'tauranga': 191,
 'studholme': 192,
 'hawea flat': 193,
 'tamahere': 194,
 'hāwea flat': 195,
 'hororata': 196,
 'haruru': 197,
 'clydevale': 198,
 'greenhills': 199,
 'moonlight': 200,
 'burbush': 201,
 'motunau': 202,
 'masterton': 203,
 'sefton': 204,
 'koru': 205,
 'waihoaka': 206,
 'lake coleridge': 207,
 'willowby': 208,
 'waitara': 209,
 'waitoa': 210,
 'maunganamu': 211,
 'glendhu bay': 212,
 'waitarere beach': 213,
 'mcnab': 214,
 'alexandra': 215,
 'amberley': 216,
 'woodend': 217,
 'waikanae': 218,
 'ohakea': 219,
 'new plymouth': 220,
 'lower hutt': 221,
 'leithfield': 222,
 'edgecumbe': 223,
 'paraparaumu': 224,
 'wanaka': 225,
 'wānaka': 226,
 'riverhead': 227,
 'carterton': 228,
 'putaruru': 229,
 'longburn': 230,
 'coromandel': 231,
 'putāruru': 232,
 'ashley': 233,
 'mosgiel': 234,
 'glenavy': 235,
 'broadlands': 236,
 'spreydon': 237,
 'ruakākā': 238,
 'ruakaka': 239,
 'ohaupo': 240,
 'brightwater': 241,
 'tuakau': 242,
 'appleby': 243,
 'hautere': 244,
 'nelson': 245,
 'leeston': 246,
 'waipapa': 247,
 'kawarau falls': 248,
 'pahiatua': 249,
 'picton': 250,
 'ikamatua': 251,
 'keri keri': 252,
 'palmerston north': 253,
 'wairoa': 254,
 'pukekohe hill': 255,
 'ruapuna': 256,
 'winton': 257,
 'waipu': 258,
 'mangawhai': 259,
 'whangaparaoa': 260,
 'winslow': 261,
 'waipatu': 262,
 'gordonton': 263,
 'coal creek flat': 264,
 'awarua': 265,
 'richmond': 266,
 'kamo': 267,
 'prebbleton': 268,
 'te awamutu': 269,
 'katikati': 270,
 'lyttelton': 271,
 'lumsden': 272,
 'clarkville': 273,
 'paparoa': 274,
 'burnham': 275,
 '': 276,
 'alford forest': 277,
 'lake grassmere': 278,
 'pakowhai': 279,
 'invercargill': 280,
 'hamilton': 281,
 'karaka': 282,
 'ngāruawāhia': 283,
 'ngaruawahia': 284,
 'lichfield': 285,
 'amuri plain': 286,
 'cardrona': 287,
 'clandeboye': 288,
 'island harbour': 289,
 'taupo': 290,
 'riverlands': 291,
 'swannanoa': 292,
 'taupō': 293,
 'woodbourne': 294,
 'penrose': 295,
 'kaipara flats': 296,
 'otipua creek': 297,
 'manaia': 298,
 'glasnevin': 299,
 'kaiwaka': 300,
 'cambridge': 301,
 'pareora': 302,
 'lake hawea': 303,
 'belnheim': 304,
 'lake hāwea': 305,
 'doyleston': 306,
 'maungatapere': 307,
 'karapiro': 308,
 'waikouaiti': 309,
 'wanganui': 310,
 'rangiora': 311,
 'springvale': 312,
 'greta valley': 313,
 'okaihau': 314,
 'taupaki': 315,
 'huntly': 316,
 'darfield': 317,
 'woodville': 318,
 'tokoroa': 319,
 'toi toi': 320,
 'mount cook': 321,
 'te karaka': 322,
 'kumeū': 323,
 'kaiata': 324,
 'kumeu': 325,
 'lowry hills range': 326,
 'east taieri': 327,
 'newstead': 328,
 'te kuiti': 329,
 'broadlands forest': 330,
 'lauder': 331,
 'koromiko': 332,
 'kaiapoi': 333,
 'makarau': 334,
 'tai tapu': 335,
 'waiuku': 336,
 'otorohanga': 337,
 'prices valley': 338,
 'manawahe': 339,
 'lower moutere': 340,
 'diamond harbour': 341,
 'ramarama': 342,
 'awakeri': 343,
 'porirua': 344,
 'marton': 345,
 'kaiteriteri': 346,
 'glenorchy': 347,
 'wairoa valley': 348,
 'pukeuri': 349,
 'stirling': 350,
 'lincoln': 351,
 'brixton': 352,
 'gore': 353,
 'otaki': 354,
 'ōtaki': 355,
 'marsden point': 356,
 'rotokawa': 357,
 'sheffield': 358,
 'tuatapere': 359,
 'okaiawa': 360,
 'matakana': 361,
 'todds valley': 362,
 'kawerau': 363,
 'hokitika': 364,
 'waipawa': 365,
 'waharoa': 366,
 'renwick': 367,
 'normanby': 368,
 'te kowhai': 369,
 'whakamarama': 370,
 'whakamārama': 371,
 'waikawa': 372,
 'morrinsville': 373,
 'barrhill': 374,
 'thornton': 375,
 'lovells flat': 376,
 'waihi beach': 377,
 'pukekohe': 378,
 'midhirst': 379,
 'bethlehem': 380,
 'cromwell': 381,
 'dargaville': 382,
 'lake ōhau': 383,
 'pāuatahanui': 384,
 'plimmerton': 385,
 'pauatahanui': 386,
 'motueka': 387,
 'featherston': 388,
 'loburn': 389,
 'wakapuaka': 390,
 'kapuni': 391,
 'te haroto': 392,
 'waverley': 393,
 'kaukapakapa': 394,
 'havelock north': 395,
 'waitaki bridge': 396,
 'bluff': 397,
 'rototuna': 398,
 'springston': 399,
 'bulls': 400,
 'motunui': 401,
 'omata': 402,
 'dairy flat': 403,
 'west taratahi': 404,
 'upper moutere': 405,
 'matauri bay': 406,
 'arrowtown': 407,
 'coatesville': 408,
 'albury': 409,
 'arrow junction': 410,
 'warea': 411,
 'makikihi': 412,
 'raetihi': 413,
 'mount maunganui': 414,
 "arthur's pass": 415,
 'paekakariki hill': 416,
 'lake tekapo': 417,
 'finegand': 418,
 'dunollie': 419,
 'kauri': 420,
 'taumaranui': 421,
 'west melton': 422,
 'kinloch': 423,
 'christchurch': 424,
 'rotherham': 425,
 'waimumu': 426,
 'greendale': 427,
 'akaroa': 428,
 'kihikihi': 429,
 'maungaturoto': 430,
 'gisborne': 431,
 'newbury': 432,
 'horotiu': 433,
 'timaru': 434,
 'drury': 435,
 'kaikoura': 436,
 'kaikōura': 437,
 'hanmer springs': 438,
 'drift bay': 439,
 'the key': 440,
 'geraldine flat': 441,
 'wai-iti': 442,
 'port chalmers': 443,
 'taup': 444,
 'napier': 445,
 'kakapotahi': 446,
 'hinds': 447,
 'takapau': 448,
 'riwaka': 449,
 'allanton': 450,
 'thames': 451,
 'whangamata': 452,
 'wellington': 453,
 'greymouth': 454,
 'ohauiti': 455,
 'hāwera': 456,
 'waimate': 457,
 'pegasus': 458,
 'hawera': 459,
 'clyde': 460,
 'westport': 461,
 'red beach': 462,
 'martinborough': 463,
 'taumarunui': 464,
 'totoara flat': 465,
 'hadlow': 466,
 'fernside': 467,
 'palmerston': 468,
 'upper hutt': 469,
 'twyford': 470,
 'spring creek': 471,
 'kaikohe': 472,
 'makareao': 473,
 'waipara': 474,
 'motumaoho': 475,
 'russell': 476,
 'oromahoe': 477,
 'hazelburn': 478,
 'kaitaia': 479,
 'bridge pa': 480,
 'springville': 481,
 'wakefield': 482,
 'maraetotara': 483,
 'waiheke island': 484,
 'riverside': 485,
 'manunui': 486,
 'waihao downs': 487,
 'oxford': 488,
 'seddon': 489,
 'ikawai': 490,
 'papamoa': 491,
 'bankside': 492,
 'waikanae beach': 493,
 'inglewood': 494,
 'riversdale': 495,
 'mapua': 496,
 'māpua': 497,
 'hawkesbury': 498,
 'kapenga': 499,
 'haast': 500,
 'paeroa': 501,
 'dunsandel': 502,
 'mahurangi west': 503,
 'okiato': 504,
 'mt maunganui': 505,
 'riverton / aparima': 506,
 'marlborough': 507,
 'wainuiomata': 508,
 'tataraimaka': 509,
 'newland': 510,
 'opua': 511,
 'reporoa': 512,
 'eighty eight valley': 513,
 'tarras': 514,
 'ngatea': 515,
 'balclutha': 516}

In [ ]:
with open('cityDict.pkl', 'wb') as f:
    pickle.dump(cityDict, f)
        
with open('cityDict.pkl', 'rb') as f:
    loaded_dict = pickle.load(f)

In [ ]:
Legdata = Ldata.copy()

In [ ]:
Legdata['SenderCity']=Legdata['SenderCity'].map(cityDict)
Legdata.head(10)

,Account_name,SenderCity,ReceiverCity,ServiceType,from_leg,to_leg,leg_type,LeggingCost,Carrier_name
1,auslink logistics limited,424.0,christchurch,metro general,christchurch,christchurch,pu/dl,13.40,lk transport store rite logistics
2,belgotex nz ltd,49.0,wellington,supereconomy,auckland,wellington,pu/lh/dl,47.16,stl linehaul
3,dhl express - chch,424.0,lake hayes,economy,christchurch,queenstown,pu/lh/dl,30.00,booth's transport (si) ltd
4,belgotex nz ltd,49.0,wellington,supereconomy,auckland,wellington,pu/lh/dl,47.16,stl linehaul
6,belgotex nz ltd,49.0,new plymouth,supereconomy,auckland,new plymouth,pu/lh/dl,48.57,stl linehaul
7,belgotex nz ltd,49.0,auckland,metro general,auckland,greenlane,pu/lh/dl,19.56,cargo plus ltd
8,belgotex nz ltd,49.0,auckland,metro general,auckland,auckland,pu/lh/dl,18.90,cargo plus ltd
9,belgotex nz ltd,49.0,new plymouth,supereconomy,auckland,new plymouth,pu/lh/dl,48.57,stl linehaul
10,pyrotek products ltd,49.0,whangarei,economy,auckland,whangarei,pu/lh/dl,131.26,mainstream nz ltd
11,belgotex nz ltd,191.0,rotorua,bop - waikato,auckland,rotorua,pu/lh/dl,20.60,stl linehaul

In [ ]:
Legdata['ReceiverCity']=Legdata['ReceiverCity'].map(cityDict)
Legdata.head(10)

,Account_name,SenderCity,ReceiverCity,ServiceType,from_leg,to_leg,leg_type,LeggingCost,Carrier_name
1,auslink logistics limited,424.0,424.0,metro general,christchurch,christchurch,pu/dl,13.40,lk transport store rite logistics
2,belgotex nz ltd,49.0,453.0,supereconomy,auckland,wellington,pu/lh/dl,47.16,stl linehaul
3,dhl express - chch,424.0,9.0,economy,christchurch,queenstown,pu/lh/dl,30.00,booth's transport (si) ltd
4,belgotex nz ltd,49.0,453.0,supereconomy,auckland,wellington,pu/lh/dl,47.16,stl linehaul
6,belgotex nz ltd,49.0,220.0,supereconomy,auckland,new plymouth,pu/lh/dl,48.57,stl linehaul
7,belgotex nz ltd,49.0,49.0,metro general,auckland,greenlane,pu/lh/dl,19.56,cargo plus ltd
8,belgotex nz ltd,49.0,49.0,metro general,auckland,auckland,pu/lh/dl,18.90,cargo plus ltd
9,belgotex nz ltd,49.0,220.0,supereconomy,auckland,new plymouth,pu/lh/dl,48.57,stl linehaul
10,pyrotek products ltd,49.0,50.0,economy,auckland,whangarei,pu/lh/dl,131.26,mainstream nz ltd
11,belgotex nz ltd,191.0,187.0,bop - waikato,auckland,rotorua,pu/lh/dl,20.60,stl linehaul

In [ ]:
Legdata['from_leg']=Legdata['from_leg'].map(cityDict)
Legdata['to_leg']=Legdata['to_leg'].map(cityDict)
Legdata.head(10)

,Account_name,SenderCity,ReceiverCity,ServiceType,from_leg,to_leg,leg_type,LeggingCost,Carrier_name
1,auslink logistics limited,424.0,424.0,metro general,424.0,424.0,pu/dl,13.40,lk transport store rite logistics
2,belgotex nz ltd,49.0,453.0,supereconomy,49.0,453.0,pu/lh/dl,47.16,stl linehaul
3,dhl express - chch,424.0,9.0,economy,424.0,80.0,pu/lh/dl,30.00,booth's transport (si) ltd
4,belgotex nz ltd,49.0,453.0,supereconomy,49.0,453.0,pu/lh/dl,47.16,stl linehaul
6,belgotex nz ltd,49.0,220.0,supereconomy,49.0,220.0,pu/lh/dl,48.57,stl linehaul
7,belgotex nz ltd,49.0,49.0,metro general,49.0,NaN,pu/lh/dl,19.56,cargo plus ltd
8,belgotex nz ltd,49.0,49.0,metro general,49.0,49.0,pu/lh/dl,18.90,cargo plus ltd
9,belgotex nz ltd,49.0,220.0,supereconomy,49.0,220.0,pu/lh/dl,48.57,stl linehaul
10,pyrotek products ltd,49.0,50.0,economy,49.0,50.0,pu/lh/dl,131.26,mainstream nz ltd
11,belgotex nz ltd,191.0,187.0,bop - waikato,49.0,187.0,pu/lh/dl,20.60,stl linehaul

#### **ServiceType**

In [ ]:
file = open("/content/drive/MyDrive/datasetW4/serviceType.csv", "r")
data2 = list(csv.reader(file, delimiter=","))
file.close()
data2

In [ ]:
serviceList = list()
for i in data2:
  for j in i:
    #print(j)
    serviceList.append(str(j).lower())
serviceList

In [ ]:
serviceDict = {}
serviceDict = {serviceList[i]: int(i+1) for i in range(len(serviceList))}
serviceDict

{'express-air': 1,
 'economy': 2,
 'point to point': 3,
 'container': 4,
 'metro general': 5,
 'express - road': 6,
 'chilled': 7,
 'supereconomy': 8,
 'frozen': 9,
 'hiab / crane truck': 10,
 'metro chilled': 11,
 'metro frozen': 12,
 'courier': 13,
 'full truck load': 14,
 'storage': 15,
 'noa - north': 16,
 'furniture': 17,
 'vehicle transport': 18,
 'rtd - taupo': 19,
 'bop - waikato': 20}

In [ ]:
with open('serviceDict.pkl', 'wb') as f:
    pickle.dump(serviceDict, f)
        
with open('serviceDict.pkl', 'rb') as f:
    loaded_dict = pickle.load(f)

In [ ]:
Legdata['ServiceType']=Legdata['ServiceType'].map(serviceDict)
Legdata.head(10)

,Account_name,SenderCity,ReceiverCity,ServiceType,from_leg,to_leg,leg_type,LeggingCost,Carrier_name
1,auslink logistics limited,424.0,424.0,5,424.0,424.0,pu/dl,13.40,lk transport store rite logistics
2,belgotex nz ltd,49.0,453.0,8,49.0,453.0,pu/lh/dl,47.16,stl linehaul
3,dhl express - chch,424.0,9.0,2,424.0,80.0,pu/lh/dl,30.00,booth's transport (si) ltd
4,belgotex nz ltd,49.0,453.0,8,49.0,453.0,pu/lh/dl,47.16,stl linehaul
6,belgotex nz ltd,49.0,220.0,8,49.0,220.0,pu/lh/dl,48.57,stl linehaul
7,belgotex nz ltd,49.0,49.0,5,49.0,NaN,pu/lh/dl,19.56,cargo plus ltd
8,belgotex nz ltd,49.0,49.0,5,49.0,49.0,pu/lh/dl,18.90,cargo plus ltd
9,belgotex nz ltd,49.0,220.0,8,49.0,220.0,pu/lh/dl,48.57,stl linehaul
10,pyrotek products ltd,49.0,50.0,2,49.0,50.0,pu/lh/dl,131.26,mainstream nz ltd
11,belgotex nz ltd,191.0,187.0,20,49.0,187.0,pu/lh/dl,20.60,stl linehaul

####**Customer Account name**

In [ ]:
file = open("/content/drive/MyDrive/datasetW4/CustomerAccount_name.csv", "r")
data3 = list(csv.reader(file, delimiter=","))
file.close()
data3

In [ ]:
accountList = list()
for i in data3[1:]:
  for j in i:
    #print(j)
    accountList.append(str(j).lower())
accountList

In [ ]:
accountDict = {}
accountDict = {accountList[i]: int(i+1) for i in range(len(accountList))}
accountDict

In [ ]:
with open('accountDict.pkl', 'wb') as f:
    pickle.dump(accountDict, f)
        
with open('accountDict.pkl', 'rb') as f:
    loaded_dict = pickle.load(f)

In [ ]:
Legdata['Account_name']=Legdata['Account_name'].map(accountDict)
Legdata.head(10)

,Account_name,SenderCity,ReceiverCity,ServiceType,from_leg,to_leg,leg_type,LeggingCost,Carrier_name
1,102.0,424.0,424.0,5,424.0,424.0,pu/dl,13.40,lk transport store rite logistics
2,132.0,49.0,453.0,8,49.0,453.0,pu/lh/dl,47.16,stl linehaul
3,153.0,424.0,9.0,2,424.0,80.0,pu/lh/dl,30.00,booth's transport (si) ltd
4,132.0,49.0,453.0,8,49.0,453.0,pu/lh/dl,47.16,stl linehaul
6,132.0,49.0,220.0,8,49.0,220.0,pu/lh/dl,48.57,stl linehaul
7,132.0,49.0,49.0,5,49.0,NaN,pu/lh/dl,19.56,cargo plus ltd
8,132.0,49.0,49.0,5,49.0,49.0,pu/lh/dl,18.90,cargo plus ltd
9,132.0,49.0,220.0,8,49.0,220.0,pu/lh/dl,48.57,stl linehaul
10,93.0,49.0,50.0,2,49.0,50.0,pu/lh/dl,131.26,mainstream nz ltd
11,132.0,191.0,187.0,20,49.0,187.0,pu/lh/dl,20.60,stl linehaul

#### **Carrier name**

In [ ]:
file = open("/content/drive/MyDrive/datasetW4/CarrierAccount_name.csv", "r")
data4 = list(csv.reader(file, delimiter=","))
file.close()
data4

In [ ]:
carrierList = list()
for i in data4[1:]:
  for j in i:
    #print(j)
    carrierList.append(str(j).lower())
carrierList

In [ ]:
carrierDict = {}
carrierDict = {carrierList[i]: int(i+1) for i in range(len(carrierList))}
carrierDict

{'lakeland contracting': 1,
 'cv compton ltd': 2,
 'auckland crane': 3,
 'booths transport ltd': 4,
 'tomoana warehousing ltd': 5,
 'express movers ': 6,
 'lt transport limited': 7,
 'gisborne hiabs ltd': 8,
 'buxton moves': 9,
 'bascik avenger cresent': 10,
 'move logistics ltd': 11,
 'hilton haulage ltd partnership': 12,
 'onsend ltd': 13,
 'n j woods ltd': 14,
 'dunamis transport ltd': 15,
 'collins lifting ltd': 16,
 'dave hoskin carriers ltd': 17,
 'ian roebuck crane hire limited': 18,
 'on time eddy': 19,
 'les harrison transport ltd': 20,
 'auckland cranes ltd': 21,
 'woofe contracting ltd': 22,
 'timatanga enterprises ltd': 23,
 'r&r hiab': 24,
 'wills contracting': 25,
 'lk transport tga': 26,
 'tappers ltd': 27,
 'hiab crane services ltd': 28,
 'brosnan transport ltd': 29,
 'akaroa frieght ltd': 30,
 'transfreight': 31,
 'l & a cotton heavy haulage': 32,
 'mainstream nz ltd': 33,
 "booth's transport (si) ltd": 34,
 'conroys removals ltd': 35,
 'whitfield transport': 36,
 'freightplus ltd': 37,
 'urgent couriers ltd': 38,
 'fr8base': 39,
 'marlborough moving & storage co': 40,
 'mahalo transport - general freight and  hiab specialists': 41,
 'crawford carrying co ltd': 42,
 'primelift hiab hire ltd': 43,
 'combined freightlines': 44,
 'man with a van service': 45,
 'central southland freight ltd': 46,
 'hanson removals': 47,
 'j d hickmansltd': 48,
 'angel transport': 49,
 'a ford 2 move': 50,
 'icon logistics': 51,
 'frews tpt ltd': 52,
 'mcleod hiabs - hamilton, tauranga, taupo': 53,
 'rural transport ltd': 54,
 'cargo plus ltd': 55,
 'ellesmere transport co. ltd': 56,
 'tally ho industries': 57,
 'southern furniture movers': 58,
 'northland crane & cartage': 59,
 'kiwitrans': 60,
 'raglan carriers': 61,
 'todd mcphee crane hire & transport': 62,
 'freight haulage ltd': 63,
 'md freighting ltd': 64,
 'mackenzie transport ltd': 65,
 'titus transport': 66,
 'sollys': 67,
 't&g transport': 68,
 'kings transport': 69,
 'mackenzie transport': 70,
 'mixport logistics and transport': 71,
 'lift n shift ltd': 72,
 'metro urgent': 73,
 'les harrison transport': 74,
 'pukekohe hiab transport': 75,
 'sealink logistics': 76,
 'office max - inwards good': 77,
 'linfox': 78,
 'croft combined carriers ltd': 79,
 'hawkes bay movers': 80,
 'transcon': 81,
 'vanman': 82,
 'pass the parcel': 83,
 'jets transport ltd': 84,
 'man with a van': 85,
 'lk transport store rite logistics': 86,
 'qantas couriers': 87,
 'til freighting ltd': 88,
 'halls refrigeration': 89,
 'combined logistics ltd': 90,
 'central lakes removals': 91,
 'crane & carry': 92,
 'great barrier cartage ltd': 93,
 'grace removals': 94,
 'stl linehaul': 95,
 "mcauley's transport": 96,
 'pukekohe carriers': 97,
 'weatherell transport ltd': 98,
 'the delivery guys nz ': 99,
 'adept logistics ltd': 100,
 'lift tech transport': 101,
 'bascik transport': 102,
 'great lake transport': 103,
 'wisemove carrier search': 104,
 'sub60': 105,
 'smith transport': 106,
 'southway moving ltd': 107,
 'shuttle group': 108}

In [ ]:
Legdata['Carrier_name']=Legdata['Carrier_name'].map(carrierDict)
Legdata.head(10)

,Account_name,SenderCity,ReceiverCity,ServiceType,from_leg,to_leg,leg_type,LeggingCost,Carrier_name
1,102.0,424.0,424.0,5,424.0,424.0,pu/dl,13.40,86
2,132.0,49.0,453.0,8,49.0,453.0,pu/lh/dl,47.16,95
3,153.0,424.0,9.0,2,424.0,80.0,pu/lh/dl,30.00,34
4,132.0,49.0,453.0,8,49.0,453.0,pu/lh/dl,47.16,95
6,132.0,49.0,220.0,8,49.0,220.0,pu/lh/dl,48.57,95
7,132.0,49.0,49.0,5,49.0,NaN,pu/lh/dl,19.56,55
8,132.0,49.0,49.0,5,49.0,49.0,pu/lh/dl,18.90,55
9,132.0,49.0,220.0,8,49.0,220.0,pu/lh/dl,48.57,95
10,93.0,49.0,50.0,2,49.0,50.0,pu/lh/dl,131.26,33
11,132.0,191.0,187.0,20,49.0,187.0,pu/lh/dl,20.60,95

In [ ]:
Legdata.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 19899 entries, 1 to 23647
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Account_name  19898 non-null  float64
 1   SenderCity    19896 non-null  float64
 2   ReceiverCity  19850 non-null  float64
 3   ServiceType   19899 non-null  int64
 4   from_leg      18212 non-null  float64
 5   to_leg        17146 non-null  float64
 6   leg_type      19899 non-null  object
 7   LeggingCost   19899 non-null  float64
 8   Carrier_name  19899 non-null  int64
dtypes: float64(6), int64(2), object(1)
memory usage: 1.5+ MB

#### **Fill null values**

In [ ]:
print(Legdata['Account_name'].isnull().sum())
print(Legdata['SenderCity'].isnull().sum())
print(Legdata['ReceiverCity'].isnull().sum())
print(Legdata['ServiceType'].isnull().sum())
print(Legdata['Carrier_name'].isnull().sum())

1
3
49
0
0

In [ ]:
Legdata[Legdata['ReceiverCity'].isnull()]

,Account_name,SenderCity,ReceiverCity,ServiceType,from_leg,to_leg,leg_type,LeggingCost,Carrier_name
431,132.0,49.0,NaN,5,49.0,49.0,pu/lh/dl,19.56,55
623,132.0,49.0,NaN,5,49.0,49.0,pu/dl,19.56,55
5299,132.0,49.0,NaN,5,49.0,49.0,pu/lh/dl,45.36,55
5908,132.0,49.0,NaN,5,49.0,49.0,pu/lh/dl,25.04,55
7192,132.0,49.0,NaN,5,49.0,49.0,pu/lh/dl,19.56,55
7309,132.0,49.0,NaN,5,49.0,NaN,pu/lh/dl,18.90,55
7492,132.0,49.0,NaN,5,49.0,NaN,pu/lh/dl,75.60,55
7916,132.0,49.0,NaN,5,49.0,49.0,pu/lh/dl,23.28,55
8021,132.0,49.0,NaN,8,49.0,NaN,pu/lh/dl,121.11,95
8300,132.0,49.0,NaN,5,49.0,49.0,pu/lh/dl,19.56,55
8594,132.0,49.0,NaN,5,49.0,49.0,pu/lh/dl,19.56,55
9049,132.0,49.0,NaN,8,49.0,NaN,pu/lh/dl,81.92,95
9284,132.0,49.0,NaN,5,49.0,NaN,pu/lh/dl,90.72,55
9342,132.0,49.0,NaN,5,49.0,49.0,pu/lh/dl,23.67,55
9736,132.0,49.0,NaN,5,49.0,49.0,pu/lh/dl,18.90,55
10194,132.0,49.0,NaN,5,49.0,49.0,pu/lh/dl,52.81,55
10841,132.0,49.0,NaN,5,49.0,49.0,pu/lh/dl,37.56,55
11318,132.0,49.0,NaN,8,49.0,NaN,pu/lh/dl,48.57,95
11431,132.0,49.0,NaN,5,49.0,49.0,pu/lh/dl,19.56,55
11440,132.0,49.0,NaN,8,49.0,NaN,pu/lh/dl,47.83,95
11575,132.0,49.0,NaN,5,49.0,49.0,pu/lh/dl,19.56,55
11726,132.0,49.0,NaN,8,49.0,453.0,pu/lh/dl,90.23,95
11915,132.0,49.0,NaN,5,49.0,NaN,pu/lh/dl,122.47,55
12448,132.0,49.0,NaN,5,49.0,NaN,pu/lh/dl,18.90,55
12777,132.0,49.0,NaN,5,49.0,49.0,pu/lh/dl,20.93,55
12829,132.0,49.0,NaN,5,49.0,49.0,pu/lh/dl,19.56,55
12837,132.0,49.0,NaN,5,49.0,49.0,pu/dl,28.17,55
13646,132.0,49.0,NaN,5,49.0,49.0,pu/lh/dl,151.79,55
13832,132.0,49.0,NaN,5,49.0,49.0,pu/lh/dl,22.69,55
13841,132.0,49.0,NaN,5,49.0,49.0,pu/lh/dl,21.09,55
14300,132.0,49.0,NaN,5,49.0,NaN,pu/lh/dl,18.90,55
15090,132.0,49.0,NaN,5,49.0,49.0,pu/lh/dl,25.23,55
15214,132.0,49.0,NaN,5,49.0,49.0,pu/lh/dl,19.56,55
16683,132.0,49.0,NaN,5,49.0,49.0,pu/lh/dl,19.56,55
17105,132.0,49.0,NaN,5,49.0,NaN,pu/lh/dl,19.56,55
17179,132.0,49.0,NaN,5,49.0,49.0,pu/lh/dl,46.94,55
17390,132.0,49.0,NaN,8,49.0,203.0,pu/lh/dl,47.16,95
17473,132.0,49.0,NaN,5,49.0,NaN,pu/lh/dl,52.92,55
17549,132.0,49.0,NaN,5,49.0,49.0,pu/lh/dl,184.26,55
19180,132.0,49.0,NaN,5,49.0,49.0,pu/lh/dl,19.56,55
19530,132.0,49.0,NaN,5,49.0,49.0,pu/lh/dl,18.90,55
19838,132.0,49.0,NaN,5,49.0,49.0,pu/lh/dl,19.56,55
19935,132.0,49.0,NaN,8,49.0,NaN,pu/lh/dl,48.57,95
20445,132.0,49.0,NaN,5,49.0,49.0,pu/lh/dl,19.56,55
20522,132.0,49.0,NaN,8,49.0,NaN,pu/lh/dl,71.23,95
20560,132.0,49.0,NaN,5,49.0,49.0,pu/lh/dl,19.56,55
20742,132.0,49.0,NaN,5,49.0,49.0,pu/lh/dl,39.12,55
23146,132.0,49.0,NaN,5,49.0,49.0,pu/lh/dl,21.12,55
23432,132.0,49.0,NaN,5,49.0,49.0,pu/lh/dl,19.56,55

In [ ]:
indices = [431,623,5299,5908,7192,7309,7492,7916,8300,8594,9284,9342,9736,10194,10841,11431,11575,11915,12448,12777,12829,12837,13646,13832,13841,14300,15090,15214,16683,17105,17179,17473,17549,19180,19530,
           19838,20445,20560,20742,23146,23432]
Legdata.loc[indices,'ReceiverCity'] = 49.0

print(Legdata.head(16))

In [ ]:
Ldata[Legdata['ReceiverCity'].isnull()]

,Account_name,SenderCity,ReceiverCity,ServiceType,from_leg,to_leg,leg_type,LeggingCost,Carrier_name
17390,belgotex nz ltd,auckland,masterton,supereconomy,auckland,masterton,pu/lh/dl,47.16,stl linehaul

In [ ]:
indices = [8021,9049,11318,11440,11726,19935,20522]
Legdata.loc[indices,'ReceiverCity'] = 453.0

In [ ]:
indices = [17390]
Legdata.loc[indices,'ReceiverCity'] = 203.0

In [ ]:
Ldata[Legdata['SenderCity'].isnull()]

,Account_name,SenderCity,ReceiverCity,ServiceType,from_leg,to_leg,leg_type,LeggingCost,Carrier_name
2623,belgotex nz ltd,auckland,auckland,metro general,auckland,auckland,pu/dl,18.90,cargo plus ltd
11190,belgotex nz ltd,auckland,auckland,metro general,auckland,auckland,pu/dl,22.12,cargo plus ltd
14854,belgotex nz ltd,auckland,auckland,metro general,auckland,auckland,pu/dl,33.45,cargo plus ltd

In [ ]:
indices = [2623,11190,14854]
Legdata.loc[indices,'SenderCity'] = 49.0

In [ ]:
Ldata[Legdata['Account_name'].isnull()]

,Account_name,SenderCity,ReceiverCity,ServiceType,from_leg,to_leg,leg_type,LeggingCost,Carrier_name
23505,freightplus ltd,christchurch,christchurch,metro general,wigram,yaldhurst,pu/lh/dl,16.08,lk transport store rite logistics

In [ ]:
indices = [23505]
Legdata.loc[indices,'Account_name'] = 59.0

In [ ]:
Legdata.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 19899 entries, 1 to 23647
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Account_name  19899 non-null  float64
 1   SenderCity    19899 non-null  float64
 2   ReceiverCity  19899 non-null  float64
 3   ServiceType   19899 non-null  int64
 4   from_leg      18212 non-null  float64
 5   to_leg        17146 non-null  float64
 6   leg_type      19899 non-null  object
 7   LeggingCost   19899 non-null  float64
 8   Carrier_name  19899 non-null  int64
dtypes: float64(6), int64(2), object(1)
memory usage: 2.0+ MB

In [ ]:
Legdata.isnull().sum()

Account_name       0
SenderCity         0
ReceiverCity       0
ServiceType        0
from_leg        1687
to_leg          2753
leg_type           0
LeggingCost        0
Carrier_name       0
dtype: int64

In [ ]:
Legdata2 = Legdata.copy()

In [ ]:
df_preprocessed=Legdata.copy()
df_preprocessed.to_csv('LeggingData.csv', index=False)

In [ ]:
Legdata=Legdata.drop(['from_leg'], axis=1)
Legdata=Legdata.drop(['to_leg'], axis=1)
Legdata=Legdata.drop(['leg_type'], axis=1)

In [ ]:
Legdata.head(10)

,Account_name,SenderCity,ReceiverCity,ServiceType,LeggingCost,Carrier_name
1,102.0,424.0,424.0,5,13.40,86
2,132.0,49.0,453.0,8,47.16,95
3,153.0,424.0,9.0,2,30.00,34
4,132.0,49.0,453.0,8,47.16,95
6,132.0,49.0,220.0,8,48.57,95
7,132.0,49.0,49.0,5,19.56,55
8,132.0,49.0,49.0,5,18.90,55
9,132.0,49.0,220.0,8,48.57,95
10,93.0,49.0,50.0,2,131.26,33
11,132.0,191.0,187.0,20,20.60,95

In [ ]:
Legdata.isnull().sum()

Account_name    0
SenderCity      0
ReceiverCity    0
ServiceType     0
LeggingCost     0
Carrier_name    0
dtype: int64

In [ ]:
df_preprocessed=Legdata.copy()
df_preprocessed.to_csv('LeggingDataCleaned2.csv', index=False)

In [ ]:
cLegData=pd.read_csv("/content/drive/MyDrive/datasetW4/LeggingDataCleaned.csv")
cLegData.head(4)

,Account_name,SenderCity,ReceiverCity,ServiceType,LeggingCost,Carrier_name
0,102.0,424.0,424.0,5,13.40,86
1,132.0,49.0,453.0,8,47.16,95
2,153.0,424.0,9.0,2,30.00,34
3,132.0,49.0,453.0,8,47.16,95

In [ ]:
cLegData=pd.read_csv("/content/drive/MyDrive/datasetW4/LeggingDataCleaned2.csv")
cLegData.head(10)

,Account_name,SenderCity,ReceiverCity,ServiceType,LeggingCost,Carrier_name
0,102.0,424.0,424.0,5,13.40,lk transport store rite logistics
1,132.0,49.0,453.0,8,47.16,stl linehaul
2,153.0,424.0,9.0,2,30.00,booth's transport (si) ltd
3,132.0,49.0,453.0,8,47.16,stl linehaul
4,132.0,49.0,220.0,8,48.57,stl linehaul
5,132.0,49.0,49.0,5,19.56,cargo plus ltd
6,132.0,49.0,49.0,5,18.90,cargo plus ltd
7,132.0,49.0,220.0,8,48.57,stl linehaul
8,93.0,49.0,50.0,2,131.26,mainstream nz ltd
9,132.0,191.0,187.0,20,20.60,stl linehaul

### **Duplicating data**

In [ ]:
cLegData.drop_duplicates()

In [ ]:
cLegData[cLegData[['Account_name',	'SenderCity',	'ReceiverCity',	'ServiceType',	'LeggingCost']].duplicated() == True]

In [ ]:
pd.set_option('display.max_rows', None)
cLegData['Carrier_name'].value_counts()

stl linehaul                          6919
cargo plus ltd                        3745
booth's transport (si) ltd            2157
bascik transport                      2084
mainstream nz ltd                     1639
t&g transport                          830
freightplus ltd                        721
lk transport store rite logistics      642
halls refrigeration                    183
transfreight                           160
linfox                                 137
angel transport                        109
pass the parcel                         70
combined freightlines                   57
urgent couriers ltd                     50
qantas couriers                         45
metro urgent                            39
jets transport ltd                      37
mackenzie transport ltd                 27
adept logistics ltd                     22
sub60                                   21
sealink logistics                       21
transcon                                21
sollys                                  20
booths transport ltd                    12
frews tpt ltd                           11
ellesmere transport co. ltd             11
man with a van                          11
pukekohe carriers                        9
cv compton ltd                           8
hilton haulage ltd partnership           8
mackenzie transport                      7
combined logistics ltd                   7
vanman                                   6
lt transport limited                     5
raglan carriers                          5
croft combined carriers ltd              4
timatanga enterprises ltd                4
tomoana warehousing ltd                  3
express movers                           2
man with a van service                   2
fr8base                                  2
move logistics ltd                       2
lift n shift ltd                         2
ian roebuck crane hire limited           2
grace removals                           2
les harrison transport ltd               2
tappers ltd                              1
marlborough moving & storage co          1
on time eddy                             1
woofe contracting ltd                    1
great barrier cartage ltd                1
n j woods ltd                            1
til freighting ltd                       1
hiab crane services ltd                  1
wills contracting                        1
primelift hiab hire ltd                  1
todd mcphee crane hire & transport       1
mcauley's transport                      1
auckland cranes ltd                      1
conroys removals ltd                     1
gisborne hiabs ltd                       1
smith transport                          1
Name: Carrier_name, dtype: int64

In [ ]:
cLegData=cLegData.append([cLegData[cLegData['Carrier_name'] == 'smith transport']] * 10, ignore_index=True)
cLegData=cLegData.append([cLegData[cLegData['Carrier_name'] == 'gisborne hiabs ltd']] * 10, ignore_index=True)
cLegData=cLegData.append([cLegData[cLegData['Carrier_name'] == 'conroys removals ltd']] * 10, ignore_index=True)
cLegData=cLegData.append([cLegData[cLegData['Carrier_name'] == 'auckland cranes ltd']] * 10, ignore_index=True)
cLegData=cLegData.append([cLegData[cLegData['Carrier_name'] == 'todd mcphee crane hire & transport']] * 10, ignore_index=True)
cLegData=cLegData.append([cLegData[cLegData['Carrier_name'] == 'primelift hiab hire ltd']] * 10, ignore_index=True)
cLegData=cLegData.append([cLegData[cLegData['Carrier_name'] == 'wills contracting']] * 10, ignore_index=True)
cLegData=cLegData.append([cLegData[cLegData['Carrier_name'] == 'hiab crane services ltd']] * 10, ignore_index=True)
cLegData=cLegData.append([cLegData[cLegData['Carrier_name'] == 'til freighting ltd']] * 10, ignore_index=True)
cLegData=cLegData.append([cLegData[cLegData['Carrier_name'] == 'n j woods ltd']] * 10, ignore_index=True)
cLegData=cLegData.append([cLegData[cLegData['Carrier_name'] == 'great barrier cartage ltd']] * 10, ignore_index=True)
cLegData=cLegData.append([cLegData[cLegData['Carrier_name'] == 'woofe contracting ltd']] * 10, ignore_index=True)
cLegData=cLegData.append([cLegData[cLegData['Carrier_name'] == 'on time eddy']] * 6, ignore_index=True)
cLegData=cLegData.append([cLegData[cLegData['Carrier_name'] == 'marlborough moving & storage co']] * 6, ignore_index=True)
cLegData=cLegData.append([cLegData[cLegData['Carrier_name'] == 'tappers ltd']] * 6, ignore_index=True)
cLegData=cLegData.append([cLegData[cLegData['Carrier_name'] == 'les harrison transport ltd']] * 6, ignore_index=True)
cLegData=cLegData.append([cLegData[cLegData['Carrier_name'] == 'grace removals']] * 6, ignore_index=True)
cLegData=cLegData.append([cLegData[cLegData['Carrier_name'] == 'express movers']] * 6, ignore_index=True)

In [ ]:
cLegData=cLegData.append([cLegData[cLegData['Carrier_name'] == 'ian roebuck crane hire limited']] * 5, ignore_index=True)
cLegData=cLegData.append([cLegData[cLegData['Carrier_name'] == 'move logistics ltd']] * 5, ignore_index=True)
cLegData=cLegData.append([cLegData[cLegData['Carrier_name'] == 'fr8base']] * 5, ignore_index=True)
cLegData=cLegData.append([cLegData[cLegData['Carrier_name'] == 'man with a van service']] * 5, ignore_index=True)
cLegData=cLegData.append([cLegData[cLegData['Carrier_name'] == 'express movers']] * 5, ignore_index=True)
cLegData=cLegData.append([cLegData[cLegData['Carrier_name'] == 'lift n shift ltd']] * 5, ignore_index=True)
cLegData=cLegData.append([cLegData[cLegData['Carrier_name'] == 'tomoana warehousing ltd']] * 5, ignore_index=True)
cLegData=cLegData.append([cLegData[cLegData['Carrier_name'] == 'timatanga enterprises ltd']] * 5, ignore_index=True)
cLegData=cLegData.append([cLegData[cLegData['Carrier_name'] == 'croft combined carriers ltd']] * 5, ignore_index=True)
cLegData=cLegData.append([cLegData[cLegData['Carrier_name'] == 'raglan carriers']] * 5, ignore_index=True)

In [ ]:
cLegData[cLegData['Carrier_name'] == 'n j woods ltd']

,Account_name,SenderCity,ReceiverCity,ServiceType,LeggingCost,Carrier_name
16522,118.0,49.0,49.0,3,2850.0,n j woods ltd

In [ ]:
cLegData['Carrier_name'].value_counts()

stl linehaul                          6919
cargo plus ltd                        3745
booth's transport (si) ltd            2157
bascik transport                      2084
mainstream nz ltd                     1639
t&g transport                          830
freightplus ltd                        721
lk transport store rite logistics      642
halls refrigeration                    183
transfreight                           160
linfox                                 137
angel transport                        109
pass the parcel                         70
combined freightlines                   57
urgent couriers ltd                     50
qantas couriers                         45
metro urgent                            39
jets transport ltd                      37
raglan carriers                         30
mackenzie transport ltd                 27
croft combined carriers ltd             24
timatanga enterprises ltd               24
adept logistics ltd                     22
sealink logistics                       21
transcon                                21
sub60                                   21
sollys                                  20
tomoana warehousing ltd                 18
grace removals                          14
les harrison transport ltd              14
lift n shift ltd                        12
fr8base                                 12
ian roebuck crane hire limited          12
booths transport ltd                    12
man with a van service                  12
move logistics ltd                      12
wills contracting                       11
til freighting ltd                      11
n j woods ltd                           11
great barrier cartage ltd               11
primelift hiab hire ltd                 11
todd mcphee crane hire & transport      11
hiab crane services ltd                 11
woofe contracting ltd                   11
auckland cranes ltd                     11
frews tpt ltd                           11
smith transport                         11
man with a van                          11
conroys removals ltd                    11
ellesmere transport co. ltd             11
gisborne hiabs ltd                      11
pukekohe carriers                        9
hilton haulage ltd partnership           8
cv compton ltd                           8
tappers ltd                              7
mackenzie transport                      7
combined logistics ltd                   7
on time eddy                             7
marlborough moving & storage co          7
vanman                                   6
lt transport limited                     5
express movers                           2
mcauley's transport                      1
Name: Carrier_name, dtype: int64

In [ ]:
cLegData.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20191 entries, 0 to 20190
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Account_name  20191 non-null  float64
 1   SenderCity    20191 non-null  float64
 2   ReceiverCity  20191 non-null  float64
 3   ServiceType   20191 non-null  int64
 4   LeggingCost   20191 non-null  float64
 5   Carrier_name  20191 non-null  object
dtypes: float64(4), int64(1), object(1)
memory usage: 946.6+ KB

In [ ]:
df_preprocessed=cLegData.copy()
df_preprocessed.to_csv('LeggingDuplicated.csv', index=False)

For Deep learning only mapping Carrier names to numerical values

In [ ]:
cLegData2 = cLegData.copy()

In [ ]:
cLegData2['Carrier_name']=cLegData2['Carrier_name'].map(carrierDict)
cLegData2.head(10)

,Account_name,SenderCity,ReceiverCity,ServiceType,LeggingCost,Carrier_name
0,102.0,424.0,424.0,5,13.40,86
1,132.0,49.0,453.0,8,47.16,95
2,153.0,424.0,9.0,2,30.00,34
3,132.0,49.0,453.0,8,47.16,95
4,132.0,49.0,220.0,8,48.57,95
5,132.0,49.0,49.0,5,19.56,55
6,132.0,49.0,49.0,5,18.90,55
7,132.0,49.0,220.0,8,48.57,95
8,93.0,49.0,50.0,2,131.26,33
9,132.0,191.0,187.0,20,20.60,95

In [ ]:
cLegData2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20191 entries, 0 to 20190
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Account_name  20191 non-null  float64
 1   SenderCity    20191 non-null  float64
 2   ReceiverCity  20191 non-null  float64
 3   ServiceType   20191 non-null  int64
 4   LeggingCost   20191 non-null  float64
 5   Carrier_name  20191 non-null  int64
dtypes: float64(4), int64(2)
memory usage: 946.6 KB

In [ ]:
#cLegData=cLegData.drop(['LeggingCost'], axis=1)
#cLegData=pd.read_csv("/content/drive/MyDrive/datasetW4/LeggingDataCleaned2.csv")
#cLegData.head(10)

## **Experiments (Train Test)**

**Catboost with weights**

In [ ]:
cLegData=pd.read_csv("/content/drive/MyDrive/datasetW4/LeggingDuplicated.csv")
cLegData.head(10)

In [ ]:
X=cLegData.iloc[:,:-1]
y=cLegData['Carrier_name']

In [ ]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(cLegData.iloc[:,:-1],
    cLegData['Carrier_name'],
    test_size=0.3,
    random_state=0)

In [ ]:
y_train.value_counts()

In [ ]:
y_test.value_counts()

In [ ]:
from sklearn.utils.class_weight import compute_class_weight
classes = np.unique(y_train)
weights = compute_class_weight(class_weight='balanced', classes=classes, y=y_train)
class_weights = dict(zip(classes, weights))

#clf = CatBoostClassifier(verbose=0, n_estimators=100 , class_weights=class_weights)
#clf.fit(X_train,y_train)
clf = CatBoostClassifier(loss_function='MultiClass', class_weights=class_weights)
clf.fit(X_train, y_train)

Learning rate set to 0.09057
0:	learn: 3.4845051	total: 280ms	remaining: 4m 39s
1:	learn: 2.9561125	total: 459ms	remaining: 3m 49s
2:	learn: 2.6944336	total: 638ms	remaining: 3m 32s
3:	learn: 2.4434631	total: 811ms	remaining: 3m 21s
4:	learn: 2.2642534	total: 970ms	remaining: 3m 12s
5:	learn: 2.1434534	total: 1.12s	remaining: 3m 6s
6:	learn: 2.0244335	total: 1.29s	remaining: 3m 3s
7:	learn: 1.8940805	total: 1.44s	remaining: 2m 58s
8:	learn: 1.7989795	total: 1.6s	remaining: 2m 56s
9:	learn: 1.7061821	total: 1.75s	remaining: 2m 53s
10:	learn: 1.6291770	total: 1.91s	remaining: 2m 51s
11:	learn: 1.5507444	total: 2.07s	remaining: 2m 50s
12:	learn: 1.4826703	total: 2.23s	remaining: 2m 49s
13:	learn: 1.4232300	total: 2.4s	remaining: 2m 48s
14:	learn: 1.3579120	total: 2.55s	remaining: 2m 47s
15:	learn: 1.3057386	total: 2.7s	remaining: 2m 46s
16:	learn: 1.2566484	total: 2.86s	remaining: 2m 45s
17:	learn: 1.2160084	total: 3.01s	remaining: 2m 44s
18:	learn: 1.1759692	total: 3.16s	remaining: 2m 43s
19:	learn: 1.1392635	total: 3.32s	remaining: 2m 42s
20:	learn: 1.1024169	total: 3.48s	remaining: 2m 42s
21:	learn: 1.0697826	total: 3.63s	remaining: 2m 41s
22:	learn: 1.0409911	total: 3.78s	remaining: 2m 40s
23:	learn: 1.0147991	total: 3.93s	remaining: 2m 39s
24:	learn: 0.9913960	total: 4.09s	remaining: 2m 39s
25:	learn: 0.9673855	total: 4.24s	remaining: 2m 38s
26:	learn: 0.9461469	total: 4.41s	remaining: 2m 38s
27:	learn: 0.9234113	total: 4.56s	remaining: 2m 38s
28:	learn: 0.9027209	total: 4.72s	remaining: 2m 37s
29:	learn: 0.8835113	total: 4.87s	remaining: 2m 37s
30:	learn: 0.8669844	total: 5.02s	remaining: 2m 36s
31:	learn: 0.8536181	total: 5.17s	remaining: 2m 36s
32:	learn: 0.8346300	total: 5.34s	remaining: 2m 36s
33:	learn: 0.8205063	total: 5.49s	remaining: 2m 35s
34:	learn: 0.8037311	total: 5.65s	remaining: 2m 35s
35:	learn: 0.7884842	total: 5.8s	remaining: 2m 35s
36:	learn: 0.7778484	total: 5.95s	remaining: 2m 34s
37:	learn: 0.7667387	total: 6.1s	remaining: 2m 34s
38:	learn: 0.7544236	total: 6.25s	remaining: 2m 34s
39:	learn: 0.7396249	total: 6.41s	remaining: 2m 33s
40:	learn: 0.7282466	total: 6.57s	remaining: 2m 33s
41:	learn: 0.7190254	total: 6.72s	remaining: 2m 33s
42:	learn: 0.7073869	total: 6.88s	remaining: 2m 33s
43:	learn: 0.6962255	total: 7.03s	remaining: 2m 32s
44:	learn: 0.6879459	total: 7.21s	remaining: 2m 32s
45:	learn: 0.6818349	total: 7.37s	remaining: 2m 32s
46:	learn: 0.6726057	total: 7.53s	remaining: 2m 32s
47:	learn: 0.6623393	total: 7.68s	remaining: 2m 32s
48:	learn: 0.6542345	total: 7.83s	remaining: 2m 31s
49:	learn: 0.6468437	total: 7.98s	remaining: 2m 31s
50:	learn: 0.6381248	total: 8.13s	remaining: 2m 31s
51:	learn: 0.6313586	total: 8.29s	remaining: 2m 31s
52:	learn: 0.6241373	total: 8.45s	remaining: 2m 31s
53:	learn: 0.6175650	total: 8.61s	remaining: 2m 30s
54:	learn: 0.6088346	total: 8.76s	remaining: 2m 30s
55:	learn: 0.6029758	total: 8.91s	remaining: 2m 30s
56:	learn: 0.5941994	total: 9.06s	remaining: 2m 29s
57:	learn: 0.5872099	total: 9.22s	remaining: 2m 29s
58:	learn: 0.5791995	total: 9.38s	remaining: 2m 29s
59:	learn: 0.5733880	total: 9.54s	remaining: 2m 29s
60:	learn: 0.5672953	total: 9.69s	remaining: 2m 29s
61:	learn: 0.5631756	total: 9.84s	remaining: 2m 28s
62:	learn: 0.5582575	total: 10s	remaining: 2m 28s
63:	learn: 0.5522841	total: 10.2s	remaining: 2m 28s
64:	learn: 0.5469129	total: 10.3s	remaining: 2m 28s
65:	learn: 0.5414850	total: 10.5s	remaining: 2m 28s
66:	learn: 0.5379930	total: 10.6s	remaining: 2m 27s
67:	learn: 0.5333832	total: 10.8s	remaining: 2m 27s
68:	learn: 0.5285303	total: 10.9s	remaining: 2m 27s
69:	learn: 0.5244562	total: 11.1s	remaining: 2m 27s
70:	learn: 0.5193113	total: 11.2s	remaining: 2m 26s
71:	learn: 0.5143315	total: 11.4s	remaining: 2m 26s
72:	learn: 0.5093917	total: 11.6s	remaining: 2m 26s
73:	learn: 0.5051477	total: 11.7s	remaining: 2m 26s
74:	learn: 0.5019568	total: 11.9s	remaining: 2m 26s
75:	learn: 0.4981713	total: 12s	remaining: 2m 26s
76:	learn: 0.4954946	total: 12.2s	remaining: 2m 25s
77:	learn: 0.4930875	total: 12.3s	remaining: 2m 25s
78:	learn: 0.4897855	total: 12.5s	remaining: 2m 25s
79:	learn: 0.4846097	total: 12.6s	remaining: 2m 25s
80:	learn: 0.4816474	total: 12.8s	remaining: 2m 25s
81:	learn: 0.4783314	total: 12.9s	remaining: 2m 24s
82:	learn: 0.4748660	total: 13.1s	remaining: 2m 24s
83:	learn: 0.4720627	total: 13.3s	remaining: 2m 24s
84:	learn: 0.4687364	total: 13.4s	remaining: 2m 24s
85:	learn: 0.4646000	total: 13.6s	remaining: 2m 24s
86:	learn: 0.4619343	total: 13.7s	remaining: 2m 24s
87:	learn: 0.4585520	total: 13.9s	remaining: 2m 23s
88:	learn: 0.4552083	total: 14s	remaining: 2m 23s
89:	learn: 0.4527537	total: 14.2s	remaining: 2m 23s
90:	learn: 0.4494910	total: 14.3s	remaining: 2m 23s
91:	learn: 0.4473982	total: 14.5s	remaining: 2m 23s
92:	learn: 0.4445201	total: 14.7s	remaining: 2m 23s
93:	learn: 0.4419939	total: 14.8s	remaining: 2m 22s
94:	learn: 0.4391179	total: 15s	remaining: 2m 22s
95:	learn: 0.4364913	total: 15.1s	remaining: 2m 22s
96:	learn: 0.4336252	total: 15.3s	remaining: 2m 22s
97:	learn: 0.4312988	total: 15.4s	remaining: 2m 21s
98:	learn: 0.4284732	total: 15.6s	remaining: 2m 21s
99:	learn: 0.4261959	total: 15.7s	remaining: 2m 21s
100:	learn: 0.4235090	total: 15.9s	remaining: 2m 21s
101:	learn: 0.4210309	total: 16s	remaining: 2m 21s
102:	learn: 0.4185403	total: 16.2s	remaining: 2m 21s
103:	learn: 0.4158336	total: 16.4s	remaining: 2m 20s
104:	learn: 0.4139061	total: 16.5s	remaining: 2m 20s
105:	learn: 0.4121844	total: 16.7s	remaining: 2m 20s
106:	learn: 0.4098750	total: 16.8s	remaining: 2m 20s
107:	learn: 0.4073823	total: 17s	remaining: 2m 20s
108:	learn: 0.4058326	total: 17.1s	remaining: 2m 19s
109:	learn: 0.4038423	total: 17.3s	remaining: 2m 19s
110:	learn: 0.4014918	total: 17.4s	remaining: 2m 19s
111:	learn: 0.3995379	total: 17.6s	remaining: 2m 19s
112:	learn: 0.3977806	total: 17.8s	remaining: 2m 19s
113:	learn: 0.3947888	total: 17.9s	remaining: 2m 19s
114:	learn: 0.3921100	total: 18.1s	remaining: 2m 19s
115:	learn: 0.3905514	total: 18.2s	remaining: 2m 18s
116:	learn: 0.3891264	total: 18.4s	remaining: 2m 18s
117:	learn: 0.3874118	total: 18.5s	remaining: 2m 18s
118:	learn: 0.3862271	total: 18.7s	remaining: 2m 18s
119:	learn: 0.3845459	total: 18.8s	remaining: 2m 18s
120:	learn: 0.3829589	total: 19s	remaining: 2m 17s
121:	learn: 0.3817993	total: 19.1s	remaining: 2m 17s
122:	learn: 0.3798240	total: 19.3s	remaining: 2m 17s
123:	learn: 0.3779959	total: 19.4s	remaining: 2m 17s
124:	learn: 0.3763341	total: 19.6s	remaining: 2m 17s
125:	learn: 0.3747545	total: 19.8s	remaining: 2m 17s
126:	learn: 0.3731918	total: 19.9s	remaining: 2m 16s
127:	learn: 0.3720503	total: 20.1s	remaining: 2m 16s
128:	learn: 0.3706840	total: 20.2s	remaining: 2m 16s
129:	learn: 0.3695364	total: 20.4s	remaining: 2m 16s
130:	learn: 0.3680593	total: 20.5s	remaining: 2m 16s
131:	learn: 0.3671251	total: 20.9s	remaining: 2m 17s
132:	learn: 0.3665198	total: 21.5s	remaining: 2m 20s
133:	learn: 0.3654039	total: 22s	remaining: 2m 22s
134:	learn: 0.3638518	total: 22.5s	remaining: 2m 24s
135:	learn: 0.3620679	total: 22.8s	remaining: 2m 24s
136:	learn: 0.3608971	total: 23s	remaining: 2m 24s
137:	learn: 0.3600093	total: 23.1s	remaining: 2m 24s
138:	learn: 0.3588852	total: 23.3s	remaining: 2m 24s
139:	learn: 0.3575830	total: 23.4s	remaining: 2m 23s
140:	learn: 0.3563859	total: 23.6s	remaining: 2m 23s
141:	learn: 0.3555018	total: 23.7s	remaining: 2m 23s
142:	learn: 0.3539394	total: 23.9s	remaining: 2m 23s
143:	learn: 0.3525425	total: 24s	remaining: 2m 22s
144:	learn: 0.3514255	total: 24.2s	remaining: 2m 22s
145:	learn: 0.3504968	total: 24.4s	remaining: 2m 22s
146:	learn: 0.3493376	total: 24.5s	remaining: 2m 22s
147:	learn: 0.3478851	total: 24.7s	remaining: 2m 21s
148:	learn: 0.3469979	total: 24.8s	remaining: 2m 21s
149:	learn: 0.3461291	total: 25s	remaining: 2m 21s
150:	learn: 0.3449575	total: 25.1s	remaining: 2m 21s
151:	learn: 0.3438182	total: 25.3s	remaining: 2m 21s
152:	learn: 0.3434047	total: 25.4s	remaining: 2m 20s
153:	learn: 0.3424570	total: 25.6s	remaining: 2m 20s
154:	learn: 0.3415986	total: 25.7s	remaining: 2m 20s
155:	learn: 0.3400744	total: 25.9s	remaining: 2m 20s
156:	learn: 0.3391565	total: 26s	remaining: 2m 19s
157:	learn: 0.3376715	total: 26.2s	remaining: 2m 19s
158:	learn: 0.3363245	total: 26.4s	remaining: 2m 19s
159:	learn: 0.3355391	total: 26.5s	remaining: 2m 19s
160:	learn: 0.3346920	total: 26.7s	remaining: 2m 18s
161:	learn: 0.3338090	total: 26.8s	remaining: 2m 18s
162:	learn: 0.3326574	total: 27s	remaining: 2m 18s
163:	learn: 0.3317833	total: 27.1s	remaining: 2m 18s
164:	learn: 0.3311527	total: 27.3s	remaining: 2m 18s
165:	learn: 0.3303294	total: 27.4s	remaining: 2m 17s
166:	learn: 0.3299581	total: 27.6s	remaining: 2m 17s
167:	learn: 0.3286570	total: 27.7s	remaining: 2m 17s
168:	learn: 0.3273760	total: 27.9s	remaining: 2m 17s
169:	learn: 0.3267408	total: 28.1s	remaining: 2m 17s
170:	learn: 0.3263226	total: 28.2s	remaining: 2m 16s
171:	learn: 0.3256635	total: 28.4s	remaining: 2m 16s
172:	learn: 0.3247829	total: 28.5s	remaining: 2m 16s
173:	learn: 0.3240593	total: 28.7s	remaining: 2m 16s
174:	learn: 0.3228954	total: 28.8s	remaining: 2m 15s
175:	learn: 0.3224114	total: 29s	remaining: 2m 15s
176:	learn: 0.3211136	total: 29.2s	remaining: 2m 15s
177:	learn: 0.3201625	total: 29.3s	remaining: 2m 15s
178:	learn: 0.3194527	total: 29.5s	remaining: 2m 15s
179:	learn: 0.3187984	total: 29.6s	remaining: 2m 14s
180:	learn: 0.3182927	total: 29.8s	remaining: 2m 14s
181:	learn: 0.3175404	total: 29.9s	remaining: 2m 14s
182:	learn: 0.3164797	total: 30.1s	remaining: 2m 14s
183:	learn: 0.3155326	total: 30.2s	remaining: 2m 14s
184:	learn: 0.3148310	total: 30.4s	remaining: 2m 13s
185:	learn: 0.3143387	total: 30.6s	remaining: 2m 13s
186:	learn: 0.3138797	total: 30.7s	remaining: 2m 13s
187:	learn: 0.3132807	total: 30.9s	remaining: 2m 13s
188:	learn: 0.3121292	total: 31s	remaining: 2m 13s
189:	learn: 0.3112457	total: 31.2s	remaining: 2m 12s
190:	learn: 0.3100717	total: 31.3s	remaining: 2m 12s
191:	learn: 0.3094834	total: 31.5s	remaining: 2m 12s
192:	learn: 0.3089558	total: 31.6s	remaining: 2m 12s
193:	learn: 0.3083387	total: 31.8s	remaining: 2m 12s
194:	learn: 0.3078549	total: 31.9s	remaining: 2m 11s
195:	learn: 0.3076343	total: 32.1s	remaining: 2m 11s
196:	learn: 0.3064226	total: 32.3s	remaining: 2m 11s
197:	learn: 0.3054561	total: 32.4s	remaining: 2m 11s
198:	learn: 0.3045437	total: 32.6s	remaining: 2m 11s
199:	learn: 0.3042508	total: 32.7s	remaining: 2m 10s
200:	learn: 0.3037428	total: 32.9s	remaining: 2m 10s
201:	learn: 0.3030244	total: 33s	remaining: 2m 10s
202:	learn: 0.3023083	total: 33.2s	remaining: 2m 10s
203:	learn: 0.3015000	total: 33.3s	remaining: 2m 10s
204:	learn: 0.3011043	total: 33.5s	remaining: 2m 9s
205:	learn: 0.2999615	total: 33.6s	remaining: 2m 9s
206:	learn: 0.2995082	total: 33.8s	remaining: 2m 9s
207:	learn: 0.2988477	total: 33.9s	remaining: 2m 9s
208:	learn: 0.2984824	total: 34.1s	remaining: 2m 9s
209:	learn: 0.2971455	total: 34.3s	remaining: 2m 8s
210:	learn: 0.2966030	total: 34.4s	remaining: 2m 8s
211:	learn: 0.2960517	total: 34.6s	remaining: 2m 8s
212:	learn: 0.2953698	total: 34.7s	remaining: 2m 8s
213:	learn: 0.2947578	total: 34.9s	remaining: 2m 8s
214:	learn: 0.2936745	total: 35s	remaining: 2m 7s
215:	learn: 0.2932034	total: 35.2s	remaining: 2m 7s
216:	learn: 0.2930133	total: 35.3s	remaining: 2m 7s
217:	learn: 0.2924368	total: 35.5s	remaining: 2m 7s
218:	learn: 0.2921288	total: 35.6s	remaining: 2m 7s
219:	learn: 0.2914798	total: 35.8s	remaining: 2m 6s
220:	learn: 0.2907794	total: 36s	remaining: 2m 6s
221:	learn: 0.2902418	total: 36.1s	remaining: 2m 6s
222:	learn: 0.2898080	total: 36.3s	remaining: 2m 6s
223:	learn: 0.2890960	total: 36.4s	remaining: 2m 6s
224:	learn: 0.2886712	total: 36.6s	remaining: 2m 5s
225:	learn: 0.2883654	total: 36.7s	remaining: 2m 5s
226:	learn: 0.2879355	total: 36.9s	remaining: 2m 5s
227:	learn: 0.2873801	total: 37s	remaining: 2m 5s
228:	learn: 0.2870421	total: 37.2s	remaining: 2m 5s
229:	learn: 0.2867272	total: 37.3s	remaining: 2m 5s
230:	learn: 0.2863536	total: 37.5s	remaining: 2m 4s
231:	learn: 0.2859441	total: 37.6s	remaining: 2m 4s
232:	learn: 0.2855470	total: 37.8s	remaining: 2m 4s
233:	learn: 0.2850944	total: 38s	remaining: 2m 4s
234:	learn: 0.2844008	total: 38.1s	remaining: 2m 4s
235:	learn: 0.2837725	total: 38.3s	remaining: 2m 3s
236:	learn: 0.2832656	total: 38.4s	remaining: 2m 3s
237:	learn: 0.2825546	total: 38.6s	remaining: 2m 3s
238:	learn: 0.2820385	total: 38.7s	remaining: 2m 3s
239:	learn: 0.2814819	total: 38.9s	remaining: 2m 3s
240:	learn: 0.2811667	total: 39s	remaining: 2m 2s
241:	learn: 0.2807577	total: 39.2s	remaining: 2m 2s
242:	learn: 0.2804282	total: 39.4s	remaining: 2m 2s
243:	learn: 0.2799971	total: 39.5s	remaining: 2m 2s
244:	learn: 0.2795632	total: 39.7s	remaining: 2m 2s
245:	learn: 0.2785833	total: 39.8s	remaining: 2m 2s
246:	learn: 0.2780960	total: 40s	remaining: 2m 1s
247:	learn: 0.2775611	total: 40.1s	remaining: 2m 1s
248:	learn: 0.2772705	total: 40.3s	remaining: 2m 1s
249:	learn: 0.2767091	total: 40.4s	remaining: 2m 1s
250:	learn: 0.2763236	total: 40.6s	remaining: 2m 1s
251:	learn: 0.2759930	total: 40.7s	remaining: 2m
252:	learn: 0.2756460	total: 40.9s	remaining: 2m
253:	learn: 0.2752375	total: 41.1s	remaining: 2m
254:	learn: 0.2744030	total: 41.2s	remaining: 2m
255:	learn: 0.2735745	total: 41.4s	remaining: 2m
256:	learn: 0.2731186	total: 41.5s	remaining: 2m
257:	learn: 0.2729576	total: 41.7s	remaining: 1m 59s
258:	learn: 0.2726660	total: 41.8s	remaining: 1m 59s
259:	learn: 0.2724264	total: 42s	remaining: 1m 59s
260:	learn: 0.2720357	total: 42.1s	remaining: 1m 59s
261:	learn: 0.2716473	total: 42.3s	remaining: 1m 59s
262:	learn: 0.2712448	total: 42.4s	remaining: 1m 58s
263:	learn: 0.2708051	total: 42.6s	remaining: 1m 58s
264:	learn: 0.2702190	total: 42.7s	remaining: 1m 58s
265:	learn: 0.2697847	total: 42.9s	remaining: 1m 58s
266:	learn: 0.2693146	total: 43s	remaining: 1m 58s
267:	learn: 0.2690673	total: 43.2s	remaining: 1m 57s
268:	learn: 0.2687632	total: 43.4s	remaining: 1m 57s
269:	learn: 0.2683308	total: 43.5s	remaining: 1m 57s
270:	learn: 0.2677853	total: 43.7s	remaining: 1m 57s
271:	learn: 0.2674155	total: 43.8s	remaining: 1m 57s
272:	learn: 0.2670240	total: 44s	remaining: 1m 57s
273:	learn: 0.2665923	total: 44.1s	remaining: 1m 56s
274:	learn: 0.2661548	total: 44.3s	remaining: 1m 56s
275:	learn: 0.2658891	total: 44.4s	remaining: 1m 56s
276:	learn: 0.2656533	total: 44.6s	remaining: 1m 56s
277:	learn: 0.2651049	total: 44.7s	remaining: 1m 56s
278:	learn: 0.2645747	total: 44.9s	remaining: 1m 56s
279:	learn: 0.2642288	total: 45s	remaining: 1m 55s
280:	learn: 0.2637218	total: 45.2s	remaining: 1m 55s
281:	learn: 0.2632141	total: 45.4s	remaining: 1m 55s
282:	learn: 0.2627628	total: 45.5s	remaining: 1m 55s
283:	learn: 0.2623224	total: 45.7s	remaining: 1m 55s
284:	learn: 0.2621328	total: 45.8s	remaining: 1m 54s
285:	learn: 0.2618967	total: 46s	remaining: 1m 54s
286:	learn: 0.2616029	total: 46.1s	remaining: 1m 54s
287:	learn: 0.2613196	total: 46.3s	remaining: 1m 54s
288:	learn: 0.2609734	total: 46.4s	remaining: 1m 54s
289:	learn: 0.2607666	total: 46.6s	remaining: 1m 54s
290:	learn: 0.2602180	total: 46.7s	remaining: 1m 53s
291:	learn: 0.2597999	total: 46.9s	remaining: 1m 53s
292:	learn: 0.2594545	total: 47s	remaining: 1m 53s
293:	learn: 0.2591140	total: 47.2s	remaining: 1m 53s
294:	learn: 0.2584080	total: 47.4s	remaining: 1m 53s
295:	learn: 0.2581985	total: 47.5s	remaining: 1m 53s
296:	learn: 0.2578828	total: 47.7s	remaining: 1m 52s
297:	learn: 0.2573963	total: 47.8s	remaining: 1m 52s
298:	learn: 0.2569940	total: 48s	remaining: 1m 52s
299:	learn: 0.2568189	total: 48.1s	remaining: 1m 52s
300:	learn: 0.2565544	total: 48.3s	remaining: 1m 52s
301:	learn: 0.2562311	total: 48.4s	remaining: 1m 51s
302:	learn: 0.2560852	total: 48.6s	remaining: 1m 51s
303:	learn: 0.2555241	total: 48.7s	remaining: 1m 51s
304:	learn: 0.2553416	total: 48.9s	remaining: 1m 51s
305:	learn: 0.2549922	total: 49.1s	remaining: 1m 51s
306:	learn: 0.2546675	total: 49.2s	remaining: 1m 51s
307:	learn: 0.2543418	total: 49.4s	remaining: 1m 50s
308:	learn: 0.2541756	total: 49.5s	remaining: 1m 50s
309:	learn: 0.2538710	total: 49.7s	remaining: 1m 50s
310:	learn: 0.2534213	total: 49.8s	remaining: 1m 50s
311:	learn: 0.2532172	total: 50s	remaining: 1m 50s
312:	learn: 0.2528492	total: 50.1s	remaining: 1m 50s
313:	learn: 0.2526485	total: 50.3s	remaining: 1m 49s
314:	learn: 0.2525856	total: 50.4s	remaining: 1m 49s
315:	learn: 0.2523755	total: 50.6s	remaining: 1m 49s
316:	learn: 0.2520990	total: 50.8s	remaining: 1m 49s
317:	learn: 0.2519280	total: 50.9s	remaining: 1m 49s
318:	learn: 0.2515336	total: 51.1s	remaining: 1m 49s
319:	learn: 0.2512337	total: 51.2s	remaining: 1m 48s
320:	learn: 0.2510878	total: 51.4s	remaining: 1m 48s
321:	learn: 0.2507079	total: 51.5s	remaining: 1m 48s
322:	learn: 0.2503794	total: 51.7s	remaining: 1m 48s
323:	learn: 0.2501978	total: 51.8s	remaining: 1m 48s
324:	learn: 0.2499840	total: 52s	remaining: 1m 47s
325:	learn: 0.2495578	total: 52.1s	remaining: 1m 47s
326:	learn: 0.2493312	total: 52.3s	remaining: 1m 47s
327:	learn: 0.2488752	total: 52.4s	remaining: 1m 47s
328:	learn: 0.2487471	total: 52.6s	remaining: 1m 47s
329:	learn: 0.2485714	total: 52.8s	remaining: 1m 47s
330:	learn: 0.2483391	total: 52.9s	remaining: 1m 46s
331:	learn: 0.2480650	total: 53.1s	remaining: 1m 46s
332:	learn: 0.2478188	total: 53.2s	remaining: 1m 46s
333:	learn: 0.2475775	total: 53.4s	remaining: 1m 46s
334:	learn: 0.2472427	total: 53.5s	remaining: 1m 46s
335:	learn: 0.2469592	total: 53.7s	remaining: 1m 46s
336:	learn: 0.2467890	total: 53.8s	remaining: 1m 45s
337:	learn: 0.2464966	total: 54s	remaining: 1m 45s
338:	learn: 0.2463466	total: 54.1s	remaining: 1m 45s
339:	learn: 0.2461878	total: 54.3s	remaining: 1m 45s
340:	learn: 0.2460566	total: 54.4s	remaining: 1m 45s
341:	learn: 0.2456768	total: 54.6s	remaining: 1m 45s
342:	learn: 0.2453755	total: 54.8s	remaining: 1m 44s
343:	learn: 0.2451544	total: 54.9s	remaining: 1m 44s
344:	learn: 0.2446807	total: 55.1s	remaining: 1m 44s
345:	learn: 0.2444534	total: 55.2s	remaining: 1m 44s
346:	learn: 0.2441323	total: 55.4s	remaining: 1m 44s
347:	learn: 0.2438963	total: 55.5s	remaining: 1m 44s
348:	learn: 0.2436976	total: 55.7s	remaining: 1m 43s
349:	learn: 0.2435478	total: 55.8s	remaining: 1m 43s
350:	learn: 0.2433624	total: 56s	remaining: 1m 43s
351:	learn: 0.2432532	total: 56.1s	remaining: 1m 43s
352:	learn: 0.2429231	total: 56.3s	remaining: 1m 43s
353:	learn: 0.2426999	total: 56.5s	remaining: 1m 43s
354:	learn: 0.2424471	total: 56.6s	remaining: 1m 42s
355:	learn: 0.2421484	total: 56.8s	remaining: 1m 42s
356:	learn: 0.2420042	total: 56.9s	remaining: 1m 42s
357:	learn: 0.2418120	total: 57.1s	remaining: 1m 42s
358:	learn: 0.2415140	total: 57.2s	remaining: 1m 42s
359:	learn: 0.2412678	total: 57.4s	remaining: 1m 42s
360:	learn: 0.2409975	total: 57.5s	remaining: 1m 41s
361:	learn: 0.2407645	total: 57.7s	remaining: 1m 41s
362:	learn: 0.2405077	total: 57.9s	remaining: 1m 41s
363:	learn: 0.2402560	total: 58s	remaining: 1m 41s
364:	learn: 0.2399279	total: 58.2s	remaining: 1m 41s
365:	learn: 0.2396782	total: 58.3s	remaining: 1m 41s
366:	learn: 0.2390955	total: 58.5s	remaining: 1m 40s
367:	learn: 0.2388734	total: 58.6s	remaining: 1m 40s
368:	learn: 0.2387735	total: 58.8s	remaining: 1m 40s
369:	learn: 0.2386051	total: 58.9s	remaining: 1m 40s
370:	learn: 0.2383325	total: 59.1s	remaining: 1m 40s
371:	learn: 0.2380772	total: 59.3s	remaining: 1m 40s
372:	learn: 0.2378008	total: 59.4s	remaining: 1m 39s
373:	learn: 0.2375848	total: 59.6s	remaining: 1m 39s
374:	learn: 0.2374516	total: 59.7s	remaining: 1m 39s
375:	learn: 0.2372029	total: 59.9s	remaining: 1m 39s
376:	learn: 0.2369050	total: 1m	remaining: 1m 39s
377:	learn: 0.2367548	total: 1m	remaining: 1m 39s
378:	learn: 0.2365964	total: 1m	remaining: 1m 38s
379:	learn: 0.2363019	total: 1m	remaining: 1m 38s
380:	learn: 0.2359793	total: 1m	remaining: 1m 38s

In [ ]:
y_pred=clf.predict(X_test)

In [ ]:
result2 = accuracy_score(y_test,y_pred)
print('Accuracy:',result2*100,'%')

np.set_printoptions(threshold=200)
result = confusion_matrix(y_test, y_pred)
print('\nConfusion Matrix:')
print(result)

#result1 = classification_report(y_test, ypred)
#print('Classification Report:',)
#print (result1)

Accuracy: 75.0412677451304 %

Confusion Matrix:
[[ 4  0  0 ...  0  0  0]
 [ 0 23  0 ...  0  0  0]
 [ 0  0  5 ...  0  0  0]
 ...
 [ 0  0  0 ...  1  0  0]
 [ 0  0  0 ...  0  3  0]
 [ 0  0  0 ...  0  0  3]]

**Catboost**

In [ ]:
clf = CatBoostClassifier(verbose=0, n_estimators=100)
clf.fit(X_train,y_train)
y_pred=clf.predict(X_test)
result2 = accuracy_score(y_test,y_pred)
print('Accuracy:',result2*100,'%')

np.set_printoptions(threshold=200)
result = confusion_matrix(y_test, y_pred)
print('\nConfusion Matrix:')
print(result)

Accuracy: 83.90557939914163 %

Confusion Matrix:
[[ 1  0  0 ...  0  0  0]
 [ 0 16  0 ...  0  0  0]
 [ 0  0  5 ...  0  0  0]
 ...
 [ 0  0  0 ...  0  0  0]
 [ 0  0  0 ...  0  3  0]
 [ 0  0  0 ...  0  0  3]]

**XGBoost**

In [ ]:
#XGBOOST
import xgboost as xgb
xgb_model = xgb.XGBClassifier(objective="multi:softprob", random_state=42)
xgb_model.fit(X_train, y_train)

y_pred = xgb_model.predict(X_test)

result2 = accuracy_score(y_test,y_pred)
print('Accuracy:',result2*100,'%')
print(confusion_matrix(y_test, y_pred))

Accuracy: 86.9098712446352 %
[[ 0  0  0 ...  0  0  0]
 [ 0 24  0 ...  0  0  0]
 [ 0  0  5 ...  0  0  0]
 ...
 [ 0  0  0 ...  1  0  0]
 [ 0  0  0 ...  0  3  0]
 [ 0  0  0 ...  0  0  3]]

**Light GBM**

In [ ]:
#LightGBM
from lightgbm import LGBMClassifier

lgbm = LGBMClassifier(objective='multiclass', random_state=5)
lgbm.fit(X_train, y_train)

y_pred = lgbm.predict(X_test)

result2 = accuracy_score(y_test,y_pred)
print('Accuracy:',result2*100,'%')
print(confusion_matrix(y_test, y_pred))

Accuracy: 50.08253549026082 %
[[ 0  0  0 ...  0  0  0]
 [ 0 10  0 ...  0  0  0]
 [ 0  0  0 ...  0  0  0]
 ...
 [ 0  0  0 ...  0  0  0]
 [ 0  0  0 ...  0  0  0]
 [ 0  0  0 ...  0  0  0]]

**Naive Bayes**

In [ ]:
#Naive Bayes
from sklearn.naive_bayes import BernoulliNB
#from sklearn.model_selection import train_test_split

bnb = BernoulliNB(binarize=0.0)
bnb.fit(X_train, y_train)
bnb.score(X_test, y_test)

0.3403763618355893

**DecisionTree**

In [ ]:
#DecisionTree
from sklearn.tree import DecisionTreeClassifier
clf = DecisionTreeClassifier(criterion="entropy", max_depth=3)

# Train Decision Tree Classifer
clf = clf.fit(X_train,y_train)

#Predict the response for test dataset
y_pred = clf.predict(X_test)

# Model Accuracy, how often is the classifier correct?
print("Accuracy:",accuracy_score(y_test, y_pred))

Accuracy: 0.7160779135028063

**KNN**

In [ ]:
from sklearn.model_selection import GridSearchCV

#List Hyperparameters that we want to tune.
leaf_size = list(range(1,50))
n_neighbors = list(range(1,30))
p=[1,2]

#Convert to dictionary
hyperparameters = dict(leaf_size=leaf_size, n_neighbors=n_neighbors, p=p)

#Create new KNN object
knn_2 = KNeighborsClassifier()

#Use GridSearch
clf = GridSearchCV(knn_2, hyperparameters, cv=10)

#Fit the model
best_model = clf.fit(X_train,y_train)

#Print The value of best Hyperparameters
print('Best leaf_size:', best_model.best_estimator_.get_params()['leaf_size'])
print('Best p:', best_model.best_estimator_.get_params()['p'])
print('Best n_neighbors:', best_model.best_estimator_.get_params()['n_neighbors'])

/usr/local/lib/python3.7/dist-packages/sklearn/model_selection/_split.py:680: UserWarning:

The least populated class in y has only 2 members, which is less than n_splits=10.

Best leaf_size: 7
Best p: 1
Best n_neighbors: 1

In [ ]:
#Import knearest neighbors Classifier model
from sklearn.neighbors import KNeighborsClassifier


#Create KNN Classifier
knn = KNeighborsClassifier(leaf_size=7, metric='minkowski',
                     metric_params=None, n_jobs=None, n_neighbors=3, p=1,
                     weights='uniform')

#Train the model using the training sets
knn.fit(X_train, y_train)

#Predict the response for test dataset
y_pred = knn.predict(X_test)

#Import scikit-learn metrics module for accuracy calculation
from sklearn import metrics
# Model Accuracy, how often is the classifier correct?
print("Accuracy:",metrics.accuracy_score(y_test, y_pred))

Accuracy: 0.8075272367117861

In [ ]:
predicted= knn.predict([[132.0,	49.0,	49.0,	10,	48.57	]]) # 0:Overcast, 2:Mild
print(predicted)

['cargo plus ltd']

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:451: UserWarning:

X does not have valid feature names, but KNeighborsClassifier was fitted with feature names

In [ ]:
from sklearn.metrics import confusion_matrix
print(confusion_matrix(y_test, y_pred))
from sklearn.metrics import classification_report
print(classification_report(y_test, y_pred))

[[ 4  0  0 ...  0  0  0]
 [ 0 13  0 ...  0  0  0]
 [ 0  0  5 ...  0  0  0]
 ...
 [ 0  0  0 ...  0  0  0]
 [ 0  0  0 ...  0  3  0]
 [ 0  0  0 ...  0  0  3]]
                                    precision    recall  f1-score   support

               adept logistics ltd       0.29      0.40      0.33        10
                   angel transport       0.19      0.43      0.26        30
               auckland cranes ltd       1.00      1.00      1.00         5
                  bascik transport       0.63      0.78      0.70       618
        booth's transport (si) ltd       0.87      0.86      0.86       667
              booths transport ltd       0.00      0.00      0.00         3
                    cargo plus ltd       0.93      0.98      0.95      1116
             combined freightlines       0.33      0.12      0.17        17
            combined logistics ltd       0.00      0.00      0.00         2
              conroys removals ltd       0.80      1.00      0.89         4
       croft combined carriers ltd       1.00      1.00      1.00         6
                    cv compton ltd       0.00      0.00      0.00         4
       ellesmere transport co. ltd       0.00      0.00      0.00         3
                           fr8base       0.80      1.00      0.89         4
                   freightplus ltd       0.50      0.50      0.50       211
                     frews tpt ltd       0.00      0.00      0.00         3
                gisborne hiabs ltd       0.80      1.00      0.89         4
                    grace removals       0.50      1.00      0.67         1
         great barrier cartage ltd       0.00      0.00      0.00         4
               halls refrigeration       0.74      0.74      0.74        61
           hiab crane services ltd       1.00      1.00      1.00         1
    hilton haulage ltd partnership       0.00      0.00      0.00         1
    ian roebuck crane hire limited       0.88      1.00      0.93         7
                jets transport ltd       0.71      0.29      0.42        17
        les harrison transport ltd       1.00      1.00      1.00         3
                  lift n shift ltd       0.60      1.00      0.75         3
                            linfox       0.54      0.64      0.59        39
 lk transport store rite logistics       0.88      0.94      0.91       187
              lt transport limited       0.00      0.00      0.00         3
               mackenzie transport       0.00      0.00      0.00         2
           mackenzie transport ltd       1.00      0.11      0.20         9
                 mainstream nz ltd       0.67      0.53      0.59       496
                    man with a van       0.00      0.00      0.00         3
            man with a van service       0.80      1.00      0.89         4
   marlborough moving & storage co       0.00      0.00      0.00         3
               mcauley's transport       0.00      0.00      0.00         1
                      metro urgent       0.00      0.00      0.00        13
                move logistics ltd       0.88      1.00      0.93         7
                     n j woods ltd       0.33      1.00      0.50         1
                      on time eddy       1.00      1.00      1.00         4
                   pass the parcel       1.00      0.79      0.88        19
           primelift hiab hire ltd       0.75      1.00      0.86         3
                 pukekohe carriers       0.00      0.00      0.00         2
                   qantas couriers       0.50      0.11      0.17        19
                   raglan carriers       0.88      1.00      0.93         7
                 sealink logistics       0.67      0.67      0.67         6
                   smith transport       1.00      1.00      1.00         2
                            sollys       0.00      0.00      0.00         6
                      stl linehaul       0.86      0.84      0.85      2062
                             sub60       0.25      0.25      0.25         4
                     t&g transport       0.93      1.00      0.96       244
                       tappers ltd       1.00      1.00      1.00         5
                til freighting ltd       1.00      1.00      1.00         3
         timatanga enterprises ltd       0.88      1.00      0.93         7
todd mcphee crane hire & transport       1.00      1.00      1.00         7
           tomoana warehousing ltd       0.78      1.00      0.88         7
                          transcon       0.00      0.00      0.00        10
                      transfreight       0.36      0.09      0.14        46
               urgent couriers ltd       0.33      0.14      0.20        14
                            vanman       0.00      0.00      0.00         2
                 wills contracting       1.00      1.00      1.00         3
             woofe contracting ltd       0.75      1.00      0.86         3

                          accuracy                           0.81      6058
                         macro avg       0.54      0.57      0.53      6058
                      weighted avg       0.80      0.81      0.80      6058

/usr/local/lib/python3.7/dist-packages/sklearn/metrics/_classification.py:1318: UndefinedMetricWarning:

Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.

/usr/local/lib/python3.7/dist-packages/sklearn/metrics/_classification.py:1318: UndefinedMetricWarning:

Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.

/usr/local/lib/python3.7/dist-packages/sklearn/metrics/_classification.py:1318: UndefinedMetricWarning:

Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.

In [ ]:
# save the model to disk
import pickle
filename = 'KNN_model.sav'
pickle.dump(knn, open(filename, 'wb'))
 
# some time later...
 
# load the model from disk
loaded_model = pickle.load(open(filename, 'rb'))
result = metrics.accuracy_score(y_test, y_pred)
print(result)

0.8075272367117861

**Test a sample with Trained model**

In [ ]:
Ldata.head(10)

,Account_name,SenderCity,ReceiverCity,ServiceType,from_leg,to_leg,leg_type,LeggingCost,Carrier_name
1,auslink logistics limited,christchurch,christchurch,metro general,christchurch,christchurch,pu/dl,13.40,lk transport store rite logistics
2,belgotex nz ltd,auckland,wellington,supereconomy,auckland,wellington,pu/lh/dl,47.16,stl linehaul
3,dhl express - chch,christchurch,lake hayes,economy,christchurch,queenstown,pu/lh/dl,30.00,booth's transport (si) ltd
4,belgotex nz ltd,auckland,wellington,supereconomy,auckland,wellington,pu/lh/dl,47.16,stl linehaul
6,belgotex nz ltd,auckland,new plymouth,supereconomy,auckland,new plymouth,pu/lh/dl,48.57,stl linehaul
7,belgotex nz ltd,auckland,auckland,metro general,auckland,greenlane,pu/lh/dl,19.56,cargo plus ltd
8,belgotex nz ltd,auckland,auckland,metro general,auckland,auckland,pu/lh/dl,18.90,cargo plus ltd
9,belgotex nz ltd,auckland,new plymouth,supereconomy,auckland,new plymouth,pu/lh/dl,48.57,stl linehaul
10,pyrotek products ltd,auckland,whangarei,economy,auckland,whangarei,pu/lh/dl,131.26,mainstream nz ltd
11,belgotex nz ltd,tauranga,rotorua,bop - waikato,auckland,rotorua,pu/lh/dl,20.60,stl linehaul

In [ ]:
serviceDict

{'express-air': 1,
 'economy': 2,
 'point to point': 3,
 'container': 4,
 'metro general': 5,
 'express - road': 6,
 'chilled': 7,
 'supereconomy': 8,
 'frozen': 9,
 'hiab / crane truck': 10,
 'metro chilled': 11,
 'metro frozen': 12,
 'courier': 13,
 'full truck load': 14,
 'storage': 15,
 'noa - north': 16,
 'furniture': 17,
 'vehicle transport': 18,
 'rtd - taupo': 19,
 'bop - waikato': 20}

In [ ]:
loaded_model = pickle.load(open('/content/drive/MyDrive/datasetW4/KNN_model.sav', 'rb'))

accountName = 'belgotex nz ltd'
senderCity = 'auckland'
receiverCity = 'christchurch'
serviceType = 'supereconomy'
leggingCost = 48.57

accountName = accountDict[accountName]
senderCity = cityDict[senderCity]
receiverCity = cityDict[receiverCity]
serviceType = serviceDict[serviceType]
print("accountName:",accountName,"\nsenderCity:",senderCity,"\nreceiverCity:",receiverCity,"\nserviceType:",serviceType,"\nleggingCost:", leggingCost)

predicted= loaded_model.predict([[accountName, senderCity, receiverCity, serviceType, leggingCost]])
print("\nRecommending :", predicted[0].upper())

accountName: 132
senderCity: 49
receiverCity: 424
serviceType: 8
leggingCost: 48.57

Recommending : STL LINEHAUL

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:451: UserWarning:

X does not have valid feature names, but KNeighborsClassifier was fitted with feature names

In [ ]:
pickle.format_version

'4.0'

In [ ]:
tf.__version__

'2.9.2'

In [ ]:
sklearn. __version__

'1.0.2'

In [ ]:
sns. __version__

'0.11.2'

In [ ]:
loaded_model = pickle.load(open('/content/KNN_model.sav', 'rb'))
predicted= loaded_model.predict([[102.0,	19.0,	49.0,	10,	48.57	]]) # 0:Overcast, 2:Mild
print(predicted)

["booth's transport (si) ltd"]

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:451: UserWarning:

X does not have valid feature names, but KNeighborsClassifier was fitted with feature names

In [ ]:
from sklearn.metrics import mean_squared_error
from math import sqrt
mse = mean_squared_error(y_train, y_pred)
rmse = sqrt(mse)
rmse

**KNN - 2**

In [ ]:
knn = KNeighborsClassifier(n_neighbors = 5, weights = 'uniform',algorithm = 'brute',metric = 'minkowski')
knn.fit(X_train, y_train)
y_hat = knn.predict(X_train)
y_knn = knn.predict(X_test)
print('Training set accuracy: ', metrics.accuracy_score(y_train, y_hat))
print('Test set accuracy: ',metrics.accuracy_score(y_test, y_knn))

Training set accuracy:  0.8394537607019034
Test set accuracy:  0.7812809508088479

In [ ]:
from sklearn.metrics import confusion_matrix
print(confusion_matrix(y_test, y_knn))
from sklearn.metrics import classification_report
print(classification_report(y_test, y_knn))

[[1 0 0 ... 0 0 0]
 [0 4 2 ... 0 0 0]
 [0 0 5 ... 0 0 0]
 ...
 [0 0 0 ... 0 0 0]
 [0 0 0 ... 0 3 0]
 [0 0 0 ... 0 0 3]]
                                    precision    recall  f1-score   support

               adept logistics ltd       0.33      0.10      0.15        10
                   angel transport       0.09      0.13      0.11        30
               auckland cranes ltd       0.62      1.00      0.77         5
                  bascik transport       0.63      0.70      0.66       618
        booth's transport (si) ltd       0.86      0.85      0.85       667
              booths transport ltd       0.00      0.00      0.00         3
                    cargo plus ltd       0.92      0.97      0.95      1116
             combined freightlines       0.43      0.18      0.25        17
            combined logistics ltd       0.00      0.00      0.00         2
              conroys removals ltd       0.80      1.00      0.89         4
       croft combined carriers ltd       0.67      0.33      0.44         6
                    cv compton ltd       0.00      0.00      0.00         4
       ellesmere transport co. ltd       0.00      0.00      0.00         3
                           fr8base       0.80      1.00      0.89         4
                   freightplus ltd       0.46      0.46      0.46       211
                     frews tpt ltd       0.00      0.00      0.00         3
                gisborne hiabs ltd       0.67      1.00      0.80         4
                    grace removals       0.50      1.00      0.67         1
         great barrier cartage ltd       0.00      0.00      0.00         4
               halls refrigeration       0.64      0.59      0.62        61
           hiab crane services ltd       1.00      1.00      1.00         1
    hilton haulage ltd partnership       0.00      0.00      0.00         1
    ian roebuck crane hire limited       0.88      1.00      0.93         7
                jets transport ltd       0.67      0.24      0.35        17
        les harrison transport ltd       1.00      1.00      1.00         3
                  lift n shift ltd       0.38      1.00      0.55         3
                            linfox       0.51      0.56      0.54        39
 lk transport store rite logistics       0.85      0.90      0.87       187
              lt transport limited       0.00      0.00      0.00         3
               mackenzie transport       0.00      0.00      0.00         2
           mackenzie transport ltd       1.00      0.33      0.50         9
                 mainstream nz ltd       0.61      0.46      0.52       496
                    man with a van       0.00      0.00      0.00         3
            man with a van service       0.80      1.00      0.89         4
   marlborough moving & storage co       0.00      0.00      0.00         3
               mcauley's transport       0.00      0.00      0.00         1
                      metro urgent       0.33      0.08      0.12        13
                move logistics ltd       0.88      1.00      0.93         7
                     n j woods ltd       0.33      1.00      0.50         1
                      on time eddy       1.00      1.00      1.00         4
                   pass the parcel       0.74      0.74      0.74        19
           primelift hiab hire ltd       0.75      1.00      0.86         3
                 pukekohe carriers       0.00      0.00      0.00         2
                   qantas couriers       0.67      0.11      0.18        19
                   raglan carriers       0.86      0.86      0.86         7
                 sealink logistics       0.43      0.50      0.46         6
                   smith transport       0.67      1.00      0.80         2
                            sollys       0.00      0.00      0.00         6
                      stl linehaul       0.81      0.83      0.82      2062
                             sub60       0.20      0.25      0.22         4
                     t&g transport       0.89      0.99      0.94       244
                       tappers ltd       0.00      0.00      0.00         5
                til freighting ltd       1.00      1.00      1.00         3
         timatanga enterprises ltd       0.88      1.00      0.93         7
todd mcphee crane hire & transport       1.00      1.00      1.00         7
           tomoana warehousing ltd       0.64      1.00      0.78         7
                          transcon       0.00      0.00      0.00        10
                      transfreight       0.36      0.09      0.14        46
               urgent couriers ltd       0.20      0.07      0.11        14
                            vanman       0.00      0.00      0.00         2
                 wills contracting       1.00      1.00      1.00         3
             woofe contracting ltd       0.50      1.00      0.67         3

                          accuracy                           0.78      6058
                         macro avg       0.49      0.52      0.48      6058
                      weighted avg       0.77      0.78      0.77      6058

/usr/local/lib/python3.7/dist-packages/sklearn/metrics/_classification.py:1318: UndefinedMetricWarning:

Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.

/usr/local/lib/python3.7/dist-packages/sklearn/metrics/_classification.py:1318: UndefinedMetricWarning:

Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.

/usr/local/lib/python3.7/dist-packages/sklearn/metrics/_classification.py:1318: UndefinedMetricWarning:

Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.

In [ ]:
from sklearn.model_selection import cross_val_score
scores = cross_val_score(knn, X, y, cv =5)
print('Model accuracy: ',np.mean(scores))

**KNN - 3**

In [ ]:
0.7814

**Random Forest**

In [ ]:
cLegData2=pd.read_csv("/content/drive/MyDrive/datasetW4/LeggingDataCleaned.csv")
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(cLegData2.iloc[:,:-1],
    cLegData2['Carrier_name'],
    test_size=0.3,
    random_state=0)

In [ ]:
#Random Forest
from sklearn.ensemble import RandomForestRegressor

clf = RandomForestClassifier(n_estimators = 100)
clf.fit(X_train, y_train)
y_pred = clf.predict(X_test)
print("Accuracy:",metrics.accuracy_score(y_test, y_pred))

#### **LSTM**

In [ ]:
X=X_train
y=y_train
X=np.expand_dims(X,-1)
print(X.shape)
print(y.shape)

(14133, 5, 1)
(14133,)

In [ ]:
y=np.array(y)
y=y.reshape(-1, 1)
y.shape

(14133, 1)

In [ ]:
from sklearn.preprocessing import OneHotEncoder
enc = OneHotEncoder()
y = enc.fit_transform(y) 
y=y.toarray()

In [ ]:
#preprocessing test data
X_test=np.expand_dims(X_test,-1)

ytest=np.array(y_test)
ytest=ytest.reshape(-1, 1)
enc = OneHotEncoder()
ytest = enc.fit_transform(ytest) 
ytest=ytest.toarray()

In [ ]:
from keras.models import Sequential
from keras.layers import Dense, LSTM, Dropout

model=Sequential([
      LSTM(512,return_sequences=False, input_shape=(5,1)),
      Dense(256, activation='relu'),
      Dropout(0.2),
      Dense(128, activation='relu'),
      Dropout(0.2),
      Dense(62, activation='softmax'),
])

model.compile(loss='categorical_crossentropy',optimizer='adam',metrics=['accuracy'])
model.summary()

Model: "sequential_2"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 lstm_2 (LSTM)               (None, 512)               1052672

 dense_6 (Dense)             (None, 256)               131328

 dropout_4 (Dropout)         (None, 256)               0

 dense_7 (Dense)             (None, 128)               32896

 dropout_5 (Dropout)         (None, 128)               0

 dense_8 (Dense)             (None, 62)                7998

=================================================================
Total params: 1,224,894
Trainable params: 1,224,894
Non-trainable params: 0
_________________________________________________________________

In [ ]:
history= model.fit(X, y, validation_split=0.2, epochs=100, batch_size=512, shuffle=True)

Epoch 1/100
23/23 [==============================] - 13s 448ms/step - loss: 2.4500 - accuracy: 0.3960 - val_loss: 1.6339 - val_accuracy: 0.5497
Epoch 2/100
23/23 [==============================] - 10s 422ms/step - loss: 1.4650 - accuracy: 0.5946 - val_loss: 1.2345 - val_accuracy: 0.6753
Epoch 3/100
23/23 [==============================] - 10s 420ms/step - loss: 1.1936 - accuracy: 0.6941 - val_loss: 1.1048 - val_accuracy: 0.7237
Epoch 4/100
23/23 [==============================] - 10s 423ms/step - loss: 1.0909 - accuracy: 0.7252 - val_loss: 1.0638 - val_accuracy: 0.7283
Epoch 5/100
23/23 [==============================] - 10s 422ms/step - loss: 1.0308 - accuracy: 0.7395 - val_loss: 1.0035 - val_accuracy: 0.7503
Epoch 6/100
23/23 [==============================] - 11s 461ms/step - loss: 0.9905 - accuracy: 0.7462 - val_loss: 0.9743 - val_accuracy: 0.7520
Epoch 7/100
23/23 [==============================] - 10s 426ms/step - loss: 0.9509 - accuracy: 0.7550 - val_loss: 0.9364 - val_accuracy: 0.7573
Epoch 8/100
23/23 [==============================] - 10s 424ms/step - loss: 0.9252 - accuracy: 0.7593 - val_loss: 0.9297 - val_accuracy: 0.7584
Epoch 9/100
23/23 [==============================] - 10s 422ms/step - loss: 0.8856 - accuracy: 0.7688 - val_loss: 0.9073 - val_accuracy: 0.7623
Epoch 10/100
23/23 [==============================] - 10s 459ms/step - loss: 0.8828 - accuracy: 0.7691 - val_loss: 0.8849 - val_accuracy: 0.7637
Epoch 11/100
23/23 [==============================] - 10s 425ms/step - loss: 0.8574 - accuracy: 0.7717 - val_loss: 0.8739 - val_accuracy: 0.7687
Epoch 12/100
23/23 [==============================] - 10s 423ms/step - loss: 0.8532 - accuracy: 0.7699 - val_loss: 0.8587 - val_accuracy: 0.7704
Epoch 13/100
23/23 [==============================] - 12s 507ms/step - loss: 0.8417 - accuracy: 0.7757 - val_loss: 0.8500 - val_accuracy: 0.7740
Epoch 14/100
23/23 [==============================] - 10s 425ms/step - loss: 0.8295 - accuracy: 0.7746 - val_loss: 0.8415 - val_accuracy: 0.7676
Epoch 15/100
23/23 [==============================] - 10s 421ms/step - loss: 0.7971 - accuracy: 0.7824 - val_loss: 0.8380 - val_accuracy: 0.7729
Epoch 16/100
23/23 [==============================] - 10s 421ms/step - loss: 0.7942 - accuracy: 0.7823 - val_loss: 0.8201 - val_accuracy: 0.7775
Epoch 17/100
23/23 [==============================] - 10s 421ms/step - loss: 0.7767 - accuracy: 0.7871 - val_loss: 0.8021 - val_accuracy: 0.7800
Epoch 18/100
23/23 [==============================] - 10s 420ms/step - loss: 0.7652 - accuracy: 0.7930 - val_loss: 0.8001 - val_accuracy: 0.7817
Epoch 19/100
23/23 [==============================] - 10s 424ms/step - loss: 0.7571 - accuracy: 0.7898 - val_loss: 0.7878 - val_accuracy: 0.7863
Epoch 20/100
23/23 [==============================] - 10s 423ms/step - loss: 0.7488 - accuracy: 0.7940 - val_loss: 0.7903 - val_accuracy: 0.7814
Epoch 21/100
23/23 [==============================] - 10s 423ms/step - loss: 0.7476 - accuracy: 0.7940 - val_loss: 0.7846 - val_accuracy: 0.7871
Epoch 22/100
23/23 [==============================] - 10s 423ms/step - loss: 0.7379 - accuracy: 0.7967 - val_loss: 0.7837 - val_accuracy: 0.7835
Epoch 23/100
23/23 [==============================] - 10s 434ms/step - loss: 0.7218 - accuracy: 0.8003 - val_loss: 0.7775 - val_accuracy: 0.7825
Epoch 24/100
23/23 [==============================] - 12s 511ms/step - loss: 0.7298 - accuracy: 0.7951 - val_loss: 0.7666 - val_accuracy: 0.7846
Epoch 25/100
23/23 [==============================] - 12s 528ms/step - loss: 0.7249 - accuracy: 0.7979 - val_loss: 0.7964 - val_accuracy: 0.7888
Epoch 26/100
23/23 [==============================] - 10s 428ms/step - loss: 0.7097 - accuracy: 0.8001 - val_loss: 0.7565 - val_accuracy: 0.7895
Epoch 27/100
23/23 [==============================] - 10s 425ms/step - loss: 0.7022 - accuracy: 0.8013 - val_loss: 0.7647 - val_accuracy: 0.7899
Epoch 28/100
23/23 [==============================] - 10s 424ms/step - loss: 0.6982 - accuracy: 0.8024 - val_loss: 0.7409 - val_accuracy: 0.7952
Epoch 29/100
23/23 [==============================] - 10s 424ms/step - loss: 0.6902 - accuracy: 0.8050 - val_loss: 0.7339 - val_accuracy: 0.7959
Epoch 30/100
23/23 [==============================] - 10s 443ms/step - loss: 0.6819 - accuracy: 0.8071 - val_loss: 0.7397 - val_accuracy: 0.7906
Epoch 31/100
23/23 [==============================] - 11s 478ms/step - loss: 0.6789 - accuracy: 0.8069 - val_loss: 0.7339 - val_accuracy: 0.8001
Epoch 32/100
23/23 [==============================] - 10s 426ms/step - loss: 0.6878 - accuracy: 0.8057 - val_loss: 0.7416 - val_accuracy: 0.7955
Epoch 33/100
23/23 [==============================] - 10s 425ms/step - loss: 0.6789 - accuracy: 0.8097 - val_loss: 0.7452 - val_accuracy: 0.7955
Epoch 34/100
23/23 [==============================] - 10s 428ms/step - loss: 0.6697 - accuracy: 0.8092 - val_loss: 0.7628 - val_accuracy: 0.7920
Epoch 35/100
23/23 [==============================] - 10s 431ms/step - loss: 0.6673 - accuracy: 0.8136 - val_loss: 0.7169 - val_accuracy: 0.8069
Epoch 36/100
23/23 [==============================] - 10s 424ms/step - loss: 0.6509 - accuracy: 0.8151 - val_loss: 0.7143 - val_accuracy: 0.8026
Epoch 37/100
23/23 [==============================] - 10s 431ms/step - loss: 0.6405 - accuracy: 0.8172 - val_loss: 0.7294 - val_accuracy: 0.8001
Epoch 38/100
23/23 [==============================] - 10s 433ms/step - loss: 0.6482 - accuracy: 0.8146 - val_loss: 0.7148 - val_accuracy: 0.8008
Epoch 39/100
23/23 [==============================] - 10s 434ms/step - loss: 0.6368 - accuracy: 0.8157 - val_loss: 0.7238 - val_accuracy: 0.8037
Epoch 40/100
23/23 [==============================] - 10s 432ms/step - loss: 0.6325 - accuracy: 0.8148 - val_loss: 0.7204 - val_accuracy: 0.8047
Epoch 41/100
23/23 [==============================] - 10s 435ms/step - loss: 0.6337 - accuracy: 0.8133 - val_loss: 0.7332 - val_accuracy: 0.8047
Epoch 42/100
23/23 [==============================] - 10s 426ms/step - loss: 0.6346 - accuracy: 0.8140 - val_loss: 0.7192 - val_accuracy: 0.8079
Epoch 43/100
23/23 [==============================] - 10s 428ms/step - loss: 0.6146 - accuracy: 0.8225 - val_loss: 0.6929 - val_accuracy: 0.8093
Epoch 44/100
23/23 [==============================] - 10s 428ms/step - loss: 0.6116 - accuracy: 0.8222 - val_loss: 0.6979 - val_accuracy: 0.8093
Epoch 45/100
23/23 [==============================] - 10s 425ms/step - loss: 0.6057 - accuracy: 0.8223 - val_loss: 0.7431 - val_accuracy: 0.8008
Epoch 46/100
23/23 [==============================] - 10s 432ms/step - loss: 0.6300 - accuracy: 0.8157 - val_loss: 0.7161 - val_accuracy: 0.8051
Epoch 47/100
23/23 [==============================] - 10s 432ms/step - loss: 0.6061 - accuracy: 0.8220 - val_loss: 0.6958 - val_accuracy: 0.8146
Epoch 48/100
23/23 [==============================] - 10s 428ms/step - loss: 0.5958 - accuracy: 0.8251 - val_loss: 0.6873 - val_accuracy: 0.8171
Epoch 49/100
23/23 [==============================] - 12s 515ms/step - loss: 0.5914 - accuracy: 0.8244 - val_loss: 0.6889 - val_accuracy: 0.8076
Epoch 50/100
23/23 [==============================] - 10s 430ms/step - loss: 0.5802 - accuracy: 0.8263 - val_loss: 0.7025 - val_accuracy: 0.8047
Epoch 51/100
23/23 [==============================] - 10s 430ms/step - loss: 0.5936 - accuracy: 0.8255 - val_loss: 0.6903 - val_accuracy: 0.8146
Epoch 52/100
23/23 [==============================] - 10s 431ms/step - loss: 0.5762 - accuracy: 0.8321 - val_loss: 0.6932 - val_accuracy: 0.8132
Epoch 53/100
23/23 [==============================] - 10s 431ms/step - loss: 0.5695 - accuracy: 0.8318 - val_loss: 0.6779 - val_accuracy: 0.8168
Epoch 54/100
23/23 [==============================] - 10s 428ms/step - loss: 0.5652 - accuracy: 0.8294 - val_loss: 0.7008 - val_accuracy: 0.8207
Epoch 55/100
23/23 [==============================] - 10s 435ms/step - loss: 0.5778 - accuracy: 0.8287 - val_loss: 0.7052 - val_accuracy: 0.8062
Epoch 56/100
23/23 [==============================] - 10s 436ms/step - loss: 0.5641 - accuracy: 0.8328 - val_loss: 0.6839 - val_accuracy: 0.8210
Epoch 57/100
23/23 [==============================] - 10s 430ms/step - loss: 0.5602 - accuracy: 0.8335 - val_loss: 0.6784 - val_accuracy: 0.8203
Epoch 58/100
23/23 [==============================] - 10s 429ms/step - loss: 0.5454 - accuracy: 0.8368 - val_loss: 0.6735 - val_accuracy: 0.8182
Epoch 59/100
23/23 [==============================] - 10s 431ms/step - loss: 0.5490 - accuracy: 0.8368 - val_loss: 0.6754 - val_accuracy: 0.8200
Epoch 60/100
23/23 [==============================] - 10s 431ms/step - loss: 0.5402 - accuracy: 0.8367 - val_loss: 0.6859 - val_accuracy: 0.8118
Epoch 61/100
23/23 [==============================] - 10s 428ms/step - loss: 0.5369 - accuracy: 0.8377 - val_loss: 0.6817 - val_accuracy: 0.8210
Epoch 62/100
23/23 [==============================] - 10s 430ms/step - loss: 0.5402 - accuracy: 0.8384 - val_loss: 0.6722 - val_accuracy: 0.8146
Epoch 63/100
23/23 [==============================] - 10s 427ms/step - loss: 0.5502 - accuracy: 0.8339 - val_loss: 0.6844 - val_accuracy: 0.8115
Epoch 64/100
23/23 [==============================] - 10s 425ms/step - loss: 0.5487 - accuracy: 0.8321 - val_loss: 0.7013 - val_accuracy: 0.8164
Epoch 65/100
23/23 [==============================] - 10s 425ms/step - loss: 0.5288 - accuracy: 0.8420 - val_loss: 0.6659 - val_accuracy: 0.8210
Epoch 66/100
23/23 [==============================] - 10s 425ms/step - loss: 0.5345 - accuracy: 0.8395 - val_loss: 0.6724 - val_accuracy: 0.8228
Epoch 67/100
23/23 [==============================] - 12s 510ms/step - loss: 0.5240 - accuracy: 0.8402 - val_loss: 0.6670 - val_accuracy: 0.8253
Epoch 68/100
23/23 [==============================] - 10s 430ms/step - loss: 0.5103 - accuracy: 0.8445 - val_loss: 0.6683 - val_accuracy: 0.8217
Epoch 69/100
23/23 [==============================] - 10s 430ms/step - loss: 0.5037 - accuracy: 0.8465 - val_loss: 0.6696 - val_accuracy: 0.8267
Epoch 70/100
23/23 [==============================] - 10s 429ms/step - loss: 0.4973 - accuracy: 0.8503 - val_loss: 0.6598 - val_accuracy: 0.8249
Epoch 71/100
23/23 [==============================] - 10s 431ms/step - loss: 0.5052 - accuracy: 0.8462 - val_loss: 0.6707 - val_accuracy: 0.8228
Epoch 72/100
23/23 [==============================] - 10s 426ms/step - loss: 0.5030 - accuracy: 0.8461 - val_loss: 0.6700 - val_accuracy: 0.8263
Epoch 73/100
23/23 [==============================] - 10s 426ms/step - loss: 0.4942 - accuracy: 0.8499 - val_loss: 0.6868 - val_accuracy: 0.8210
Epoch 74/100
23/23 [==============================] - 10s 424ms/step - loss: 0.5172 - accuracy: 0.8436 - val_loss: 0.6750 - val_accuracy: 0.8224
Epoch 75/100
23/23 [==============================] - 10s 426ms/step - loss: 0.4926 - accuracy: 0.8525 - val_loss: 0.6725 - val_accuracy: 0.8238
Epoch 76/100
23/23 [==============================] - 10s 427ms/step - loss: 0.4846 - accuracy: 0.8518 - val_loss: 0.6695 - val_accuracy: 0.8253
Epoch 77/100
23/23 [==============================] - 10s 426ms/step - loss: 0.4701 - accuracy: 0.8542 - val_loss: 0.6701 - val_accuracy: 0.8263
Epoch 78/100
23/23 [==============================] - 10s 426ms/step - loss: 0.4754 - accuracy: 0.8548 - val_loss: 0.6592 - val_accuracy: 0.8224
Epoch 79/100
23/23 [==============================] - 10s 428ms/step - loss: 0.4868 - accuracy: 0.8485 - val_loss: 0.6678 - val_accuracy: 0.8281
Epoch 80/100
23/23 [==============================] - 10s 426ms/step - loss: 0.4873 - accuracy: 0.8483 - val_loss: 0.6919 - val_accuracy: 0.8228
Epoch 81/100
23/23 [==============================] - 10s 427ms/step - loss: 0.4927 - accuracy: 0.8505 - val_loss: 0.6660 - val_accuracy: 0.8210
Epoch 82/100
23/23 [==============================] - 10s 426ms/step - loss: 0.4791 - accuracy: 0.8505 - val_loss: 0.6621 - val_accuracy: 0.8256
Epoch 83/100
23/23 [==============================] - 10s 441ms/step - loss: 0.4716 - accuracy: 0.8531 - val_loss: 0.6834 - val_accuracy: 0.8228
Epoch 84/100
23/23 [==============================] - 10s 436ms/step - loss: 0.4702 - accuracy: 0.8519 - val_loss: 0.6699 - val_accuracy: 0.8267
Epoch 85/100
23/23 [==============================] - 12s 512ms/step - loss: 0.4617 - accuracy: 0.8553 - val_loss: 0.6740 - val_accuracy: 0.8267
Epoch 86/100
23/23 [==============================] - 10s 429ms/step - loss: 0.4543 - accuracy: 0.8587 - val_loss: 0.6673 - val_accuracy: 0.8242
Epoch 87/100
23/23 [==============================] - 10s 426ms/step - loss: 0.4465 - accuracy: 0.8597 - val_loss: 0.6832 - val_accuracy: 0.8288
Epoch 88/100
23/23 [==============================] - 10s 434ms/step - loss: 0.4585 - accuracy: 0.8588 - val_loss: 0.6729 - val_accuracy: 0.8291
Epoch 89/100
23/23 [==============================] - 10s 431ms/step - loss: 0.4506 - accuracy: 0.8591 - val_loss: 0.6909 - val_accuracy: 0.8238
Epoch 90/100
23/23 [==============================] - 10s 428ms/step - loss: 0.4633 - accuracy: 0.8524 - val_loss: 0.6868 - val_accuracy: 0.8260
Epoch 91/100
23/23 [==============================] - 10s 433ms/step - loss: 0.4431 - accuracy: 0.8612 - val_loss: 0.6817 - val_accuracy: 0.8256
Epoch 92/100
23/23 [==============================] - 10s 428ms/step - loss: 0.4449 - accuracy: 0.8613 - val_loss: 0.6780 - val_accuracy: 0.8263
Epoch 93/100
23/23 [==============================] - 10s 428ms/step - loss: 0.4342 - accuracy: 0.8648 - val_loss: 0.6674 - val_accuracy: 0.8267
Epoch 94/100
23/23 [==============================] - 10s 426ms/step - loss: 0.4291 - accuracy: 0.8627 - val_loss: 0.6807 - val_accuracy: 0.8263
Epoch 95/100
23/23 [==============================] - 10s 427ms/step - loss: 0.4251 - accuracy: 0.8647 - val_loss: 0.6809 - val_accuracy: 0.8291
Epoch 96/100
23/23 [==============================] - 10s 429ms/step - loss: 0.4261 - accuracy: 0.8649 - val_loss: 0.6706 - val_accuracy: 0.8288
Epoch 97/100
23/23 [==============================] - 10s 429ms/step - loss: 0.4581 - accuracy: 0.8566 - val_loss: 0.6718 - val_accuracy: 0.8270
Epoch 98/100
23/23 [==============================] - 10s 427ms/step - loss: 0.4330 - accuracy: 0.8633 - val_loss: 0.6931 - val_accuracy: 0.8242
Epoch 99/100
23/23 [==============================] - 10s 427ms/step - loss: 0.4349 - accuracy: 0.8626 - val_loss: 0.7059 - val_accuracy: 0.8274
Epoch 100/100
23/23 [==============================] - 10s 424ms/step - loss: 0.4356 - accuracy: 0.8644 - val_loss: 0.6869 - val_accuracy: 0.8295

In [ ]:
scores = model.evaluate(X_test, ytest)
LSTM_accuracy = scores[1]*100
print('Test accuracy: ', scores[1]*100, '%')

190/190 [==============================] - 3s 17ms/step - loss: 2.9183 - accuracy: 0.7304
Test accuracy:  73.04390668869019 %

In [ ]:
# save the model to disk
import pickle
filename = 'LSTM_model.sav'
pickle.dump(model, open(filename, 'wb'))
 
# some time later...
 
# load the model from disk
loaded_model = pickle.load(open(filename, 'rb'))
result = loaded_model.evaluate(X_test,ytest)
print(result)

WARNING:absl:Found untraced functions such as lstm_cell_2_layer_call_fn, lstm_cell_2_layer_call_and_return_conditional_losses while saving (showing 2 of 2). These functions will not be directly callable after loading.

190/190 [==============================] - 4s 21ms/step - loss: 2.9183 - accuracy: 0.7304
[2.918288230895996, 0.7304390668869019]

####**Sampled**

In [ ]:
stl=  cLegData.loc[cLegData['Carrier_name'] =='stl linehaul']
cargo=  cLegData.loc[cLegData['Carrier_name'] =='cargo plus ltd']
booth=  cLegData.loc[cLegData['Carrier_name'] =="booth's transport (si) ltd"]
bascik=  cLegData.loc[cLegData['Carrier_name'] =='bascik transport']
mainstream=  cLegData.loc[cLegData['Carrier_name'] =='mainstream nz ltd']
tng=  cLegData.loc[cLegData['Carrier_name'] =='t&g transport']
freightplus=  cLegData.loc[cLegData['Carrier_name'] =='freightplus ltd']
lk=  cLegData.loc[cLegData['Carrier_name'] =='lk transport store rite logistics']
halls=  cLegData.loc[cLegData['Carrier_name'] =='halls refrigeration']
transfreight=  cLegData.loc[cLegData['Carrier_name'] =='transfreight']
linfox=  cLegData.loc[cLegData['Carrier_name'] =='linfox']
angel=  cLegData.loc[cLegData['Carrier_name'] =='angel transport']
passt=  cLegData.loc[cLegData['Carrier_name'] =='pass the parcel']
combined=  cLegData.loc[cLegData['Carrier_name'] =='combined freightlines']
urgent=  cLegData.loc[cLegData['Carrier_name'] =='urgent couriers ltd']
qantas=  cLegData.loc[cLegData['Carrier_name'] =='qantas couriers']
metro=  cLegData.loc[cLegData['Carrier_name'] =='metro urgent']
jets=  cLegData.loc[cLegData['Carrier_name'] =='jets transport ltd']
mackenzie=  cLegData.loc[cLegData['Carrier_name'] =='mackenzie transport ltd']

SampData = pd.concat([stl,cargo,booth,bascik,mainstream,tng,freightplus,lk,halls,transfreight,linfox,angel,passt,combined,urgent,qantas,metro,jets,mackenzie], axis = 0)

In [ ]:
SampData.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 19651 entries, 1 to 19628
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Account_name  19651 non-null  float64
 1   SenderCity    19651 non-null  float64
 2   ReceiverCity  19651 non-null  float64
 3   ServiceType   19651 non-null  int64
 4   LeggingCost   19651 non-null  float64
 5   Carrier_name  19651 non-null  object
dtypes: float64(4), int64(1), object(1)
memory usage: 1.0+ MB

## **Oversampling**

In [ ]:
X=SampData.iloc[:,:-1]
y=SampData['Carrier_name']

In [ ]:
from imblearn.over_sampling import SMOTE

oversample = SMOTE(sampling_strategy = {'mackenzie transport ltd': 1000, 't&g transport':1000,
                     'freightplus ltd':1000,'lk transport store rite logistics':1000,'halls refrigeration':1000,'transfreight':1000,'linfox':1000,'angel transport':1000,'pass the parcel':1000,'combined freightlines':1000,
										           'urgent couriers ltd':1000,'qantas couriers':1000,'metro urgent':1000,'jets transport ltd':1000})

X,y=oversample.fit_resample(X,y)

undersample = RandomUnderSampler()
X,y=undersample.fit_resample(X,y)

counter = Counter(y)
print(counter)
# scatter plot of examples by class label
for label, _ in counter.items():
	row_ix = where(y == label)[0]

Counter({'angel transport': 1000, 'bascik transport': 1000, "booth's transport (si) ltd": 1000, 'cargo plus ltd': 1000, 'combined freightlines': 1000, 'freightplus ltd': 1000, 'halls refrigeration': 1000, 'jets transport ltd': 1000, 'linfox': 1000, 'lk transport store rite logistics': 1000, 'mackenzie transport ltd': 1000, 'mainstream nz ltd': 1000, 'metro urgent': 1000, 'pass the parcel': 1000, 'qantas couriers': 1000, 'stl linehaul': 1000, 't&g transport': 1000, 'transfreight': 1000, 'urgent couriers ltd': 1000})

In [ ]:
y.value_counts()

angel transport                      1000
mackenzie transport ltd              1000
transfreight                         1000
t&g transport                        1000
stl linehaul                         1000
qantas couriers                      1000
pass the parcel                      1000
metro urgent                         1000
mainstream nz ltd                    1000
lk transport store rite logistics    1000
bascik transport                     1000
linfox                               1000
jets transport ltd                   1000
halls refrigeration                  1000
freightplus ltd                      1000
combined freightlines                1000
cargo plus ltd                       1000
booth's transport (si) ltd           1000
urgent couriers ltd                  1000
Name: Carrier_name, dtype: int64

In [ ]:
X.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19000 entries, 0 to 18999
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Account_name  19000 non-null  float64
 1   SenderCity    19000 non-null  float64
 2   ReceiverCity  19000 non-null  float64
 3   ServiceType   19000 non-null  int64
 4   LeggingCost   19000 non-null  float64
dtypes: float64(4), int64(1)
memory usage: 742.3 KB

In [ ]:
print(X.shape)
print(y.shape)

(19000, 5)
(19000,)

In [ ]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.3,random_state=0)

from sklearn.model_selection import GridSearchCV

#List Hyperparameters that we want to tune.
leaf_size = list(range(1,50))
n_neighbors = list(range(1,30))
p=[1,2]

#Convert to dictionary
hyperparameters = dict(leaf_size=leaf_size, n_neighbors=n_neighbors, p=p)

#Create new KNN object
knn_2 = KNeighborsClassifier()

#Use GridSearch
clf = GridSearchCV(knn_2, hyperparameters, cv=10)

#Fit the model
best_model = clf.fit(X_train,y_train)

#Print The value of best Hyperparameters
print('Best leaf_size:', best_model.best_estimator_.get_params()['leaf_size'])
print('Best p:', best_model.best_estimator_.get_params()['p'])
print('Best n_neighbors:', best_model.best_estimator_.get_params()['n_neighbors'])

Best leaf_size: 47
Best p: 1
Best n_neighbors: 1

In [ ]:
#Import knearest neighbors Classifier model
from sklearn.neighbors import KNeighborsClassifier


#Create KNN Classifier
knn = KNeighborsClassifier(leaf_size=47, metric='minkowski',
                     metric_params=None, n_jobs=None, n_neighbors=1, p=1,
                     weights='uniform')

#Train the model using the training sets
knn.fit(X_train, y_train)

#Predict the response for test dataset
y_pred = knn.predict(X_test)

#Import scikit-learn metrics module for accuracy calculation
from sklearn import metrics
# Model Accuracy, how often is the classifier correct?
print("Accuracy:",metrics.accuracy_score(y_test, y_pred))

Accuracy: 0.8575438596491228

In [ ]:
predicted= knn.predict([[132.0,	49.0,	49.0,	10,	48.57	]]) # 0:Overcast, 2:Mild
print(predicted)

['cargo plus ltd']

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:451: UserWarning:

X does not have valid feature names, but KNeighborsClassifier was fitted with feature names

In [ ]:
from sklearn.metrics import confusion_matrix
print(confusion_matrix(y_test, y_pred))
from sklearn.metrics import classification_report
print(classification_report(y_test, y_pred))

[[258   3   0   0   0  12   1   0   0   0   1   4   0   0   0   0   0   0
    0]
 [  1 177   6   0   0  13   2   0  11   0   2   9   6   2  18  23   0   7
   10]
 [  1   6 248   0   9   3   0   2   2   4   7   5   1   1   1   7   0   1
    1]
 [  4   0   0 262   0   7   0   0   0   0   0   1   1   0   0   0   0   0
    0]
 [  0   0   5   0 264   0   0   0   0  21   1   0   0   0   0   0   0   0
    0]
 [ 22  12   4  16   0 194   2   0   1   0   0  14   5   0   3   7   0  27
    4]
 [  0   3   0   0   0   0 280   0   0   0   0   0   0   0   3   1   1   0
    0]
 [  0   0   3   0   1   0   1 308   1   0   3   2   0   0   0   0   0   0
    0]
 [  1   5   1   0   1   0   0   0 303   0   0   2   0   0   1   2   2   0
    1]
 [  0   0   4   0   3   0   0   0   0 268   3   2   0   0   0   0   0   0
    0]
 [  0   0  13   0   0   0   0   0   0   0 293   1   0   0   1   1   0   0
    0]
 [  3  36  10   0   2  21   5   4   3   0   1 172   6   2   1  21   3  19
    4]
 [  1   3   0   3   0   5   0   0   0   0   0   3 261   0   0   1   0   9
    8]
 [  0   3   1   0   0   1   0   0   1   0   0   3   0 302   0   1   0   0
    1]
 [  0   5   0   0   0   0   1   0   1   0   0   5   0   0 264   2   0   0
   20]
 [  3  19   9   0   0  18  12   0   1   2   0  17   5   2   8 200   1  12
    4]
 [  0   3   0   0   0   0   0   0   0   0   0   0   0   0   0   0 326   0
    0]
 [  5   2   0   0   1  13   0   0   0   0   1   7   4   2   2   1   0 245
    2]
 [  0   4   0   0   0   2   0   0   0   0   0   2  10   0   8   3   0   6
  263]]
                                   precision    recall  f1-score   support

                  angel transport       0.86      0.92      0.89       279
                 bascik transport       0.63      0.62      0.62       287
       booth's transport (si) ltd       0.82      0.83      0.82       299
                   cargo plus ltd       0.93      0.95      0.94       275
            combined freightlines       0.94      0.91      0.92       291
                  freightplus ltd       0.67      0.62      0.65       311
              halls refrigeration       0.92      0.97      0.95       288
               jets transport ltd       0.98      0.97      0.97       319
                           linfox       0.94      0.95      0.94       319
lk transport store rite logistics       0.91      0.96      0.93       280
          mackenzie transport ltd       0.94      0.95      0.94       309
                mainstream nz ltd       0.69      0.55      0.61       313
                     metro urgent       0.87      0.89      0.88       294
                  pass the parcel       0.97      0.96      0.97       313
                  qantas couriers       0.85      0.89      0.87       298
                     stl linehaul       0.74      0.64      0.69       313
                    t&g transport       0.98      0.99      0.98       329
                     transfreight       0.75      0.86      0.80       285
              urgent couriers ltd       0.83      0.88      0.85       298

                         accuracy                           0.86      5700
                        macro avg       0.85      0.86      0.85      5700
                     weighted avg       0.85      0.86      0.85      5700

In [ ]:
# save the model to disk
import pickle
filename = 'KNN_ResampledModel.sav'
pickle.dump(knn, open(filename, 'wb'))
 
# some time later...
 
# load the model from disk
loaded_model = pickle.load(open(filename, 'rb'))
result = metrics.accuracy_score(y_test, y_pred)
print(result)

0.8575438596491228

In [ ]:
'stl linehaul': 1000, 'cargo plus ltd': 1000, "booth's transport (si) ltd": 1000,'bascik transport':1000,'mainstream nz ltd':1000,

In [ ]:

# Oversample with SMOTE and random undersample for imbalanced dataset
from collections import Counter
from sklearn.datasets import make_classification
from imblearn.over_sampling import SMOTE
from imblearn.under_sampling import RandomUnderSampler
from imblearn.pipeline import Pipeline
from matplotlib import pyplot
from numpy import where
# define dataset
#X, y = make_classification(n_samples=10000, n_features=2, n_redundant=0,
#	n_clusters_per_class=1, weights=[0.99], flip_y=0, random_state=1)
# summarize class distribution
counter = Counter(y)
print(counter)
# define pipeline
over = SMOTE("minority")
under = RandomUnderSampler(sampling_strategy=0.5)
steps = [('o', over), ('u', under)]
pipeline = Pipeline(steps=steps)
# transform the dataset
X, y = pipeline.fit_resample(X, y)
# summarize the new class distribution
counter = Counter(y)
print(counter)
# scatter plot of examples by class label
for label, _ in counter.items():
	row_ix = where(y == label)[0]
	pyplot.scatter(X[row_ix, 0], X[row_ix, 1], label=str(label))
pyplot.legend()
pyplot.show()